.active-link {
    border-bottom: 1px solid #7B57FC; 
    text-decoration: none;
    font-size: 18px;
    // Adjust the border style as desired 
  }
.active-link:hover {
    background-color: #fff;
    border: none;
}
.active-link:active {
    background-color: #fff;
    border: none;
}