<div class="mb-[2rem]">
    <h1 class="font-[700] text-[30px] leading-[41px] text-[#191D23]">Manage Terminal</h1>
    <p class="18px leading-[25px] text-[#64748B]">Manage your terminals, request new terminals & disactivate terminals
    </p>
</div>

<!-- <div mat-tab-group> -->
    <nav mat-tab-nav-bar class="w-[50%]" [tabPanel]="tabPanel">
        <div mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive
            #rla="routerLinkActive" [active]="rla.isActive" [ngClass]="{ 'active-link': rla.isActive }">
            {{link.label}}
        </div>
    </nav>
<!-- </div> -->

<mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
</mat-tab-nav-panel>