<nav class="h-[10vh] bg-[#fff] shadow-sm flex justify-end px-[5rem] w-[100vw] fixed z-[1]">
    <div class="flex items-center gap-8">
        <div>
            <img src="/assets/images/shape.png" alt="">
        </div>
        <div>
            <img src="/assets/images/shape (1).png" alt="">
        </div>
        <div>
            <img src="/assets/images/avatar.png" alt="">
        </div>
        <div>
            <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown"
                class="text-white bg-[red] hover:bg-[red] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                type="button">Dropdown button 
                <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none"
                    stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
            </button>
            <div id="dropdown"
                class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                    <li>
                        <a href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                    </li>
                    <li>
                        <a href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                    </li>
                    <li>
                        <a href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                    </li>
                    <li>
                        <a href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign
                            out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</nav>




<div class="sidenav shadow-sm" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">
            <!-- <button class="logo"> -->


            <img src="assets/images/LOGO 1.png" alt="">
        </button>
        <!-- <div class="logo-text" @fadeInOut *ngIf="collapsed">Disputes</div> -->
        <!-- <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
            <i class="fal fa-times close-icon"></i>
        </button> -->
    </div>
    <div class="scrollwrap scrollwrap_delayed">
        <ul class="sidenav-nav">
            <li class="sidenav-nav-item" *ngFor="let data of navData">
                <!-- <a class="sidenav-nav-link" (click)="handleClick(data)"
                    *ngIf="data.items && data.items.length > 0"
                    [ngClass]="getActiveClass(data)"
                >
                    <i class="sidenav-link-icon" [class]="data.icon"></i>
                    <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                        {{data.label}}
                    </span>
                    <i *ngIf="data.items && collapsed" class="menu-collapse-icon"
                        [ngClass]="!data.expanded ? 'fal fa-angle-right' : 'fal fa-angle-down'"
                    ></i>
                </a> -->


                <a class="sidenav-nav-link" *ngIf="!data.items || (data.items && data.items.length === 0)"
                    [routerLink]="[data.routeLink]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    (click)="shrinkItems(data)">
                    <!-- <i class="sidenav-link-icon" [class]="data.icon"></i> -->
                    <img class="sidenav-link-icon" [src]="data.icon">


                    <span class="sidenav-link-text" *ngIf="collapsed">
                        {{data.label}}
                    </span>
                </a>
                <!-- <a class="sidenav-nav-link"
                *ngIf="!data.items || (data.items && data.items.length === 0)"
                [routerLink]="[data.routeLink]"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                (click)="shrinkItems(data)"
                >
                <img class="sidenav-link-icon" [src]="data.icon">


                <span class="sidenav-link-text"  *ngIf="collapsed">
                    {{data.label}}
                </span>
            </a> -->
                <div *ngIf="collapsed && data.items && data.items.length > 0">
                    <app-sublevel-menu [data]="data" [collapsed]="collapsed" [multiple]="multiple"
                        [expanded]="data.expanded"></app-sublevel-menu>
                </div>
            </li>
            <li class="log-out">
                <div>
                    <img class="sidenav-link-icon" src="/assets/images/Logout.png">
                </div>
                <span>Log Out</span>
            </li>
        </ul>
    </div>
</div>
