<nav class="h-[10vh] bg-[#fff] shadow-sm flex justify-end px-[5rem] w-[100vw] sticky">

    <div class="flex items-center gap-8">
        <div>
            <img src="/assets/images/shape.png" alt="">
        </div>
        <div>
            <img src="/assets/images/shape (1).png" alt="">
        </div>
        <div>
            <img src="/assets/images/avatar.png" alt="">
        </div>
        <div>
            <div class="md:col-span-4 col-span-1 p-[1rem] py-[0.5rem] bg-[#fff] rounded-[8px]">
                <select id="countries"
                    class="outline-none border text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                    <option selected>Ogbodo Uchenna</option>
                    <option value="US">Remiter</option>
                    <option value="CA">Interswitch</option>
                    <option value="FR">Flutterwave</option>
                </select>

            </div>
        </div>
    </div>

</nav>




<div class="sidenav shadow-sm " [ngClass]="collapsed ? 'sidenav-collapsed': ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">
            <img src="assets/images/LOGO 2.png" alt="">
        </button>
    </div>
    <div class="scrollwrap scrollwrap_delayed">
        <ul class="sidenav-nav">
            <li class="sidenav-nav-item" *ngFor="let data of navData">
                <!-- <a class="sidenav-nav-link" *ngIf="!data.items || (data.items && data.items.length === 0)"
                    [routerLink]="[data.routeLink]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    (click)="shrinkItems(data)">
                    <img class="sidenav-link-icon" [src]="data.icon">


                    <span class="sidenav-link-text" *ngIf="collapsed">
                        {{data.label}}
                    </span>
                </a> -->

                <a class="sidenav-nav-link" *ngIf="!data.items || (data.items && data.items.length === 0)"
                    [routerLink]="[data.routeLink]" routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{exact: true}" (click)="shrinkItems(data)">
                    <!-- <img class="sidenav-link-icon" [src]="data.icon"> -->
                    <i [class]=data.icon ></i>

                    <span class="sidenav-link-text" *ngIf="collapsed">
                        {{data.label}}
                    </span>
                </a>

                
                <div *ngIf="collapsed && data.items && data.items.length > 0">
                    <app-sublevel-menu [data]="data" [collapsed]="collapsed" [multiple]="multiple"
                        [expanded]="data.expanded"></app-sublevel-menu>
                </div>
            </li>
            <li class="log-out">
                <div>
                    <i class="fa fa-sign-out text-[2rem]"></i>
                </div>
                <div>Log Out</div>
            </li>
        </ul>
    </div>
</div>