::-webkit-scrollbar {
    display: none;
}

.active-link {
    color: #000;
    background: #F3F0FF;
    padding:1rem 0rem;
    border-right: 3px solid #7B57FC;
  }

.sidenav {
    transition: all .5s ease;
    position: fixed;
    top: 0;
    width: 9rem;
    height: fit-content;
    padding: 2rem 0;
    height: 100vh;
    gap:1rem;

    .logo-container {
        display: flex;
        align-items: center;
        padding: 0.938rem 0.938rem 0 0.938rem;
        width: 100%;
        margin-bottom: 30px;

        .logo {
            font-weight: 900;
            cursor: pointer;
            border: none;
            i{
                font-weight: 200;
            }
        }

        .logo-text {
            margin-left: 1.5rem;
            font-size: 24px;
            font-weight: 700;
        }

        .btn-close {
            margin-left: auto;
            cursor: pointer;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: transparent;
            border: none;

            .fa-times {
                font-size: 24px;
            }
        }
    }
}


.sidenav-collapsed {
    width: 25.5625rem;
}


.sidenav-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .sidenav-nav-item {
        width: 100%;
        border: 1px solid #e6e0fe;


        .sidenav-nav-link {
            display: flex;
            padding: 3rem 1.5rem;
            align-items: center;
            text-decoration: none;
            transition: all .3s ease;

            .sidenav-link-icon {
                font-size: 16px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
            }


            .sidenav-link-text {
                margin-left: 1.5rem;
                font-size: 16px;
                color: #130F26;
                white-space: nowrap;
            }
        }

        .sidenav-nav-link:hover {

            .menu-collapse-icon {
            }
        }
    }
}


.active {

    .menu-collapse-icon,
    .sidenav-link-icon,
    .sidenav-link-text {
        color: #753BBD;
    }
}


.active-sublevel {
}


.menu-collapse-icon {
    font-size: 25px;
    width: 2rem;
    min-width: 2rem;
    margin: auto 0.5rem auto auto;
    text-align: center;
    // color: #f3f3f3;
}


.sublevel-nav {
    list-style: none;
    margin-left: 10px;


    .sublevel-nav-item {

        .sublevel-nav-link {
            display: flex;
            align-items: center;
            height: 3rem;
            // color: #898989;
            text-decoration: none;
            border-radius: 0.625rem;
            transition: all .3s ease;

            .sublevel-link-icon {
                font-size: 4px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
            }
            .sublevel-link-text {
                margin-left: 0.8rem;
            }
        }
        .sublevel-nav-link:hover {
        }
    }
}


.scrollwrap {
    overflow-y: auto;
    visibility: hidden;
    height: calc(100% - 3.65rem);
}

.sidenav-nav,
.scrollwrap:hover,
.scrollwrap:focus {
    visibility: visible;
}

.scrollwrap_delayed {
    transition: visibility 0.5s 0.2s;
}

.scrollwrap_delayed:hover {
    transition: visibility 0.2s 0.2s;
}

// works on chrome, edge and safari
.scrollwrap::-webkit-scrollbar {
    width: 10px;
}

.scrollwrap::-webkit-scrollbar-track {
    background: transparent;
}

.scrollwrap::-webkit-scrollbar-thumb {
    border-radius: 20px;
}
.scrollwrap {
    scrollbar-width: thin;
}

.log-out{
    text-align: center;
    display: flex;
    width: 100%;
    margin: auto;
    // border-radius: 8px;
    background-color: #7B57FC;
    // height: 40px;
    color: #fff;
    margin-top: 200px;
    padding: 2rem 3rem;
    font-weight: 900;
    gap: 1rem;
}

@media only screen and (max-width:480px) {
    .sidenav{
        display: none;
    } 
}

