::-webkit-scrollbar {
    display: none;
}
.sidenav {
    transition: all .5s ease;
    position: fixed;
    // z-index: 2;
    top: 0;
    width: 9rem;
    height: fit-content;
    // height: 100vh;
    padding: 2rem 0;
    // padding: 2rem 0;
    // box-shadow: 0px 18px 32px rgba(0, 0, 0, 0.1);
    // display: grid;
    // background-color: red;
    height: 100vh;
    background-color:#fff;
    gap:1rem;

    .logo-container {
        display: flex;
        align-items: center;
        padding: 0.938rem 0.938rem 0 0.938rem;
        width: 100%;
        margin-bottom: 30px;

        .logo {
            background: #fff;
            font-weight: 900;
            cursor: pointer;
            border: none;
            i{
                font-weight: 200;
            }
        }


        .logo-text {
            margin-left: 1.5rem;
            font-size: 24px;
            font-weight: 700;
        }


        .btn-close {
            margin-left: auto;
            cursor: pointer;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: transparent;
            border: none;


            .fa-times {
                // color: #fff;
                font-size: 24px;
            }
        }
    }
}


.sidenav-collapsed {
    width: 25.5625rem;
}


.sidenav-nav {
    list-style: none;
    margin:2rem 0;
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 1rem;
    cursor: pointer;

    .sidenav-nav-item {
        width: 100%;
        margin-bottom: 0.625rem;
        background-color: #ECECEE;
        padding:1.5rem 2rem;

        .sidenav-nav-link {
            display: flex;
            align-items: center;
            // color: #f3f3f3;
            text-decoration: none;
            border-radius: 0.625rem;
            transition: all .3s ease;


            .sidenav-link-icon {
                font-size: 16px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
            }


            .sidenav-link-text {
                margin-left: 1.5rem;
                font-size: 16px;
                color: #130F26;
                white-space: nowrap;




            }
        }


        .sidenav-nav-link:hover {
            // background-color: #fff;
            // color: #000;


            .menu-collapse-icon {
                // color: #000;
            }
        }
    }
}


.active {
    // background-color: #fff;


    .menu-collapse-icon,
    .sidenav-link-icon,
    .sidenav-link-text {
        color: #753BBD;
    }
}


.active-sublevel {
    // color: #f3f3f3 !important;
    // opacity: 1 !important;
}


.menu-collapse-icon {
    font-size: 25px;
    width: 2rem;
    min-width: 2rem;
    margin: auto 0.5rem auto auto;
    text-align: center;
    // color: #f3f3f3;
}


.sublevel-nav {
    list-style: none;
    margin-left: 10px;


    .sublevel-nav-item {

        .sublevel-nav-link {
            display: flex;
            align-items: center;
            height: 3rem;
            // color: #898989;
            text-decoration: none;
            border-radius: 0.625rem;
            transition: all .3s ease;

            .sublevel-link-icon {
                font-size: 4px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
            }
            .sublevel-link-text {
                margin-left: 0.8rem;
            }
        }
        .sublevel-nav-link:hover {
            // color: #f3f3f3;
        }
    }
}

//scrollbar and visibility on hover and focus

.scrollwrap {
    overflow-y: auto;
    visibility: hidden;
    height: calc(100% - 3.65rem);
}

.sidenav-nav,
.scrollwrap:hover,
.scrollwrap:focus {
    visibility: visible;
}

.scrollwrap_delayed {
    transition: visibility 0.5s 0.2s;
}

.scrollwrap_delayed:hover {
    transition: visibility 0.2s 0.2s;
}

// works on chrome, edge and safari
.scrollwrap::-webkit-scrollbar {
    width: 10px;
}

.scrollwrap::-webkit-scrollbar-track {
    background: transparent;
}

.scrollwrap::-webkit-scrollbar-thumb {
    // background-color: #556268;
    border-radius: 20px;
}
// works on firefox
.scrollwrap {
    scrollbar-width: thin;
    // scrollbar-color: #556268 transparent;
}
.log-out{
    background-color: #7B57FC;
    color: #fff;
    // position:;
    margin-top: 200px;
    left: 0;
    // display: block;
    text-align: center;
    padding: 20px;
    display: flex;
    gap: 1rem;
    justify-content: center;
}
