body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide-desktop {
    display: none;

}

.desktop {
    display: hidden;
}

.enabled-button {
    background-color: green;
    color: white;
}

.disabled-button {
    cursor: not-allowed;
}

.green-background {
    background-color: green;
}
.ng-toast {
    background-color: red;
    border: 1px solid black;
}

::ng-deep .ng-toast {
    /* your styles here */
    // background-color: red;
    // border: 1px solid black;
    display: block !important;
    opacity: 1 !important;
  }


@media screen and (max-width: 800px) {
    div {
    }

    .right {
        display: none;
    }

    .mobile {
        display: none;

    }

    .hide-desktop {
        display: grid;

    }
}