<div class="h-fit md:h-[100vh] bg-[#f9f9f9] md:bg-[#fff]">
    <div class="pt-[3rem] hide-desktop">
        <img class="h-[40px] mt-[-5px] ml-[1rem]" src="/assets/images/LOGO 1.png" alt="">
    </div>


    <div class="grid grid-cols-1 md:grid-cols-2 gap-[3rem] bg-[f9f9f9] relative  m-auto md:h-full">
        <div class="grid desktop md:hidden h-fit">
            <div class="flex justify-center h-[300px]">
                <img class="h-[100%] md:h-[50%]" src="assets/images/OBJECTS.png">
                                      
            </div>
            <span class="text-center font-[NUNITO] font-[700] text-[20px]">Login to your account</span>
            <span class="flex justify-center items-center mt-[1rem]">
                <span class="text-center font-[NUNITO-LIGHT'] ">Securely login to</span>
                <img class="h-[18px] mt-[-5px] ml-[1rem]" src="/assets/images/LOGO 5 (1).png" alt="">
            </span>



        </div>
        <div class=" h-fit md:h-[100%] px-[1rem] md:px-[2rem] md:w-full flex justify-center bg-[#fff] rounded-[4px] md:bg-transparent w-[90%] m-auto py-[2rem] ">
            <div class="m-auto flex justify-between flex-col md:w-[50%] w-full">
                <div class="md:mb-[15rem]">
                    <div class="my-[2rem] mobile">

                        <div class="font-[DM Sans] font-[700] text-[24px] text-[#000] leading-[20px]">Login to your
                            account</div>
                        <span class="flex items-center mt-[1rem]">
                            <span class="text-center font-[NUNITO-LIGHT'] ">Securely login to</span>
                            <img class="h-[18px] mt-[-5px] ml-[1rem]" src="/assets/images/LOGO 5 (1).png" alt="">
                        </span>
                    </div>


                    <form class="text-[#000] uppercase text-[12px] font-[NUNITO-LIGHT] font-[100]"
                        [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)">

                        <div class="w-full "
                            [ngClass]="{'has-error': !formData['email'].valid && formData['email'].touched}">
                            <label class="text-[#555555] text-[10px] font-[NUNITO-LIGHT]" for="fname">Email*</label>
                            <div class="border-none " *ngIf="formData['email'].touched && formData['email'].errors">
                                <div class="shadow-none border-none  text-danger"
                                    *ngIf="formData['email'].errors['required']">
                                    Email is required
                                </div>
                                <div class="shadow-none text-danger" *ngIf="formData['email'].errors['pattern']">
                                    Email is not valid, Alphabets not allowed
                                </div>
                            </div>
                            <div class="rounded-[8px] border px-[1rem] py-[0.8rem] flex justify-between mb-[10px]">
                                <input class=" border-none shadow-none outline-none w-[90%] p-[0.5rem]" type="text"
                                    placeholder="mail@simmmple.com" name="email" formControlName="email">
                            </div>
                        </div>


                        <div class="w-full"
                            [ngClass]="{'has-error': !formData['password'].valid && formData['password'].touched}">
                            <label class="text-[#555555] text-[10px] font-[NUNITO-LIGHT]"
                                for="password">Password*</label>
                            <div class="border-none "
                                *ngIf="formData['password'].touched && formData['password'].errors">
                                <div class="shadow-none border-none  text-danger"
                                    *ngIf="formData['password'].errors['required']">
                                    The Password is required
                                </div>
                                <div class="shadow-none text-danger" *ngIf="formData['password'].errors['pattern']">

                                    The Password is not valid
                                </div>
                            </div>
                            <div
                                class="rounded-[8px] border px-[1rem] py-[0.8rem] flex justify-between items-center mb-[10px]">
                                <input class=" border-none shadow-none outline-none w-[90%] p-[0.5rem]"
                                    [type]="password" placeholder="mail@simmmple.com" name="password"
                                    formControlName="password">
                                <!-- <img (click)="toggleShowPassword()" src="/assets/images/eye.png"> -->
                            </div>
                        </div>



                        <div class="form-group"
                            [ngClass]="{'has-error': !formData['agreeWithTermsAndCondition'].valid && formData['agreeWithTermsAndCondition'].touched}">
                            <div *ngIf="formData['agreeWithTermsAndCondition'].touched && formData['agreeWithTermsAndCondition'].errors"
                                style="margin-top:10px">
                                <div class="text-danger"
                                    *ngIf="formData['agreeWithTermsAndCondition'].errors['required']">
                                    The Check option is required
                                </div>
                            </div>


                        </div>

                        <div class="form-check flex  justify-between items-center p-0">
                            <label class="text-[#555555] text-[10px] font-[NUNITO-LIGHT] w-[100%]">
                                <input type="checkbox" class="form-check-input" name="agreeWithTermsAndCondition"
                                    formControlName="agreeWithTermsAndCondition">
                                <div class="flex justify-between gap-[6rem] w-[100%]">
                                    <span
                                        class=" font-[200] text-[12px] font-[100] font-[NUNITO-LIGHT] ml-[2rem]">Remember
                                        me </span>
                                    <span class="font-[DM Sans] text-[#707EAE]"><a href="#"
                                            class="font-[700] text-[#A80D0D] no-underline text-right"> Forgot Password</a>
                                    </span>
                                </div>

                            </label>
                        </div>

                        <button type="submit"
                            class="w-full gap-2.5 text-white mx-0 my-4 pl-2 pr-[8px,] py-[10px,] p-[1.2rem] rounded-[8px] border-[none] bg-[#7b57fc]">Create
                            an Account</button>

                        <div class="form-check m-auto capitalize justify-center flex gap-[1rem] items-center">
                            <span class="text-[#333333]">Don't have an account?</span>
                            <span class="text-[#7B57FC]">Sign Up</span>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="mobile">
            <div class="">
                <img src="assets/images/OBJECTS.png">
            </div>

        </div>
    </div>

</div>













<!-- <button class="bg-pink-500 text-white active:bg-pink-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModal()">
    Open regular modal
  </button> -->
<div *ngIf="showModal"
    class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative w-full my-6 mx-auto max-w-3xl">
        <!--content-->
        <div
            class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
            <div class="grid place-items-center items-center p-[4rem] w-full">
                <div class="flex justify-end w-full">
                    <span class="cursor-pointer" (click)="toggleModal()"><img src="/assets/images/x.png" alt=""></span>
                </div>
                <div class="py-[2rem] grid gap-[1rem]">
                    <div class="text-center text-[24px] font-[600] leading-[30px]">Pin</div>
                    <div class="text-center">Kindly put in <b>Trevauty</b> secret pin number</div>
                </div>
                <div class="grid gap-[1rem] mt-[2rem] items-center place-items-center">
                    <ngx-otp-input [config]="otpInputConfig" (otpChange)="handeOtpChange($event)"
                        (fill)="handleFillEvent($event)">
                    </ngx-otp-input>
                    <div class="flex">
                        <span>you don't Trevauty secret pin number ? </span> <a href=""
                            class="text-[#7B57FC] underline">click here to start</a>
                    </div>
                </div>

            </div>
            <div class="flex items-center justify-end p-6 rounded-b">
            </div>
        </div>
    </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>

<!-- <ng-toast></ng-toast> -->
