<div class="wrapper">
    <div class="left">
        <div class="leftComponent">
            <div class="header">Back to sign in</div>
            <div>
                <div class="title">Sign In</div>
                <p class="sub-title">Enter your email and password to sign in!</p>
                <div class="top">`
                    <div class="logo">
                        <img src="assets/images/google.jpg">
                        <h4>Sign in with google</h4>
                    </div>
                </div>
    
                <div class="horizontal-line-container">
                    <hr class="horizontal-line">
                    <span class="or">Or</span>
                    <hr class="horizontal-line">
                </div>
    
                <form>
                    <div class="inputWrapper">
                        <label for="pnumber">Email*</label>
                        <div>
                            <input type="text" placeholder="abc@example.com" id="email" name="email">
                        </div>
                    </div>
                    <div class="inputWrapper">
                        <label for="pssword">Password*</label>
                        <div>
                            <input type="text" placeholder="Min. 8 characters" id="pssword" name="password">
                            <img
                                src="assets/images/Vector.png">
                        </div>
                    </div>
                    <div class="checking">
                        <input type="checkbox" class="checkbox" name="checkbox" checked />
                        <label for="checking" class="label">Keep me logged in</label>
                        <a href="#" class="terms">Forget password?</a>
                    </div>
                    <button>Sign In</button>
                </form>
    
                <p class="sign-in">Not registered yet? <a href="#" class="sign">Create an Account</a></p>

            </div>

            <h4 class="reserved">© 2023 Trevauty. All Rights Reserved.</h4>
        </div>

    </div>
    <div class="right">
        <div class="rightComponent">
            <img src="assets/images/LOGO 3.png">
            <div class="boxing">
                <p>Learn more about Horizon UI on</p>
                <h3>trevauty.com</h3>
            </div>
        </div>

        <footer>
            <ul>
                <li>Marketplace</li>
                <li>License</li>
                <li>Term of use</li>
                <li>Blog</li>
            </ul>
        </footer>
    </div>
</div>
