.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #FFFFFF;
    position: relative;
    height: 100vh;
}
.left{
    padding:1rem 2rem;
    width: 100%;
    display: flex;
    justify-content: center;

}
.leftComponent{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
}
.header {
    color: #A3AED0;
}
.title {
    font-family:DM Sans;
    font-weight: 700;
    font-weight: 700;
    font-size: 36px;
    color: #2B3674;
    line-height: 56px;

}
.sub-title {
  font-size: 16px;
  font:  DM Sans;
  font-weight: 400;
  color: #A3AED0;
  margin: 10px 0 30px 0;
}

h4 {
    font-size: 0.8rem;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    width: 100%;
    height: 50px;
    background-color:  #F4F7FE;
    border-radius: 16px;
    margin: 10px auto;
}
.logo {
    display: flex;
    margin-right: 60px;
    justify-content: center;
    align-items: center;
    
}
.logo img {
   width: 1rem;
   height: 1rem;
   display: flex;
   margin-right: 7px;
   text-align: center;
   
}

.horizontal-line-container {
    display: flex;
    align-items: center;
    margin: 0.5rem 5px;
  }
  
  .horizontal-line {
    flex-grow: 1;
    border: none;
    height: 1px;
    background-color: #E0E5F2;
  }
  
  .or {
    margin: 0 10px;
    color: #E0E5F2;

  }

.details {

}
form {
    color: #2B3674;

}
label {
    line-height: 20px;

}
.inputWrapper  {
    width: 100%;
}
.inputWrapper label {
    font-size: 14px;
}
.inputWrapper > div{
    border-radius: 16px;
    border: 1px solid #E0E5F2;
    padding: 0.8rem 0.5rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.inputWrapper > div img{
    height: 100%;

}
.inputWrapper input {
    background-color: transparent;
    border: none;
    outline-width: 0;
    font-size: 14px;
    width: 90%;
    box-sizing: border-box;
    padding: 0.5rem;
    
}
img {
    margin-bottom: 0px;
    cursor: pointer;
}
input.checkbox {
    width: 12px;
    height: 12px;
}
label.label {
    font-weight: 400;
    color: #2B3674;
    margin-right: 15px;
}

.terms {
    font-weight: 400;
    color: #2B3674;
    margin-left: 90px;
}
.checking{
    margin: 0.5rem 0;
    font-size: 14px;
    display: flex;

}
.checking input{
    margin-right: 5px;
}
button {
  width: 100%;
  padding: 1.2rem;
  border-radius: 16px;
  padding: 10px, 8px, 10px, 8px;
  gap: 10px;  
  color: #FFFFFF;
  background: #7B57FC;
  border: none;
  margin: 1rem 0;
}
.sign-in {
    font: 'DM Sans';
    font-weight: 400;
    size: 14px;
    color: #707EAE;
}
.sign {
    font-weight: 700;
    color: #4318FF;
    text-decoration: none;
    text-align: right;

}
.reserved {
    font: 'DM Sans';
    font-weight: 500;
    size: 14px;
    color: #A3AED0;
}
.right  {
    background-image: url("/assets/images/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 0;
    justify-content: center;
    max-width: 100%;
    max-height: auto;
    border-radius: 0px 0px 0px 100px ;
    width: 100%;
    position: relative;
    padding-top: 20%;
}

footer{
position: absolute;
bottom: 20px;
margin: auto;
left: 8%;
}

.background img {

}

.rightComponent{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boxing {
    padding: 3rem 5rem;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
    align-items: center;
    border: 2.19751px solid rgba(255, 255, 255, 0.2);
    border-radius: 26.3701px;
}
.boxing p {
    font-weight: 400;
    font-size: 18px;

}
.boxing h3 {
    font-weight: 700;
    font-size: 29px;
}
footer {
    color:#FFFFFF;
    width: 100%;
    display: flex;
    margin: 300px 100px 0 100px;

}
footer ul {
    list-style: none; 
    display: flex;
    
}
footer li {
    margin: 15px;
    font-size: 14px;

}

@media screen and (max-width: 800px) {
    .wrapper{
        display: grid;
        grid-template-columns:1fr;
        height: fit-content;

        
    }
    .right{
        display: none;
    }
    .left{
        padding:1rem;
        width: 100%;
        display: flex;
        justify-content: center;
    
    }
    .leftComponent{
        width: 80%;
    }
}
