<!-- <div class="flex justify-center items-center w-[100%] md:w-[50%] mt-[100px] ">
    <div class="grid gap-[2rem] w-[100%]">
        <div class="bg-[#FBFBFB] rounded-[15px] shadow grid gap-[2rem] p-[4rem] px-[4rem] w-[100%] py-[2rem] place-items-center ">
            <div class="absolute rounded-[50%] w-[100px] h-[100px] mt-[-120px] flex justify-center items-center mb-[50px]">
                <img src="/assets/images/avatar 2.png" alt="" class="w-full h-full object-cover">
            </div>
            <h1 class="text-center text-[22px] font-[700] mt-[70px]">
                Marci Fumons
            </h1>
            <p class="text-center">youremail@domain.com | +234 1122 334 4556</p>
        </div>
        <div class="bg-[#FBFBFB] rounded-[15px] shadow grid gap-[2rem] p-[3rem] px-[4rem] font-[700]">
            <h1>Account Settings</h1>
            <h1>Login & Security</h1>
            <h1>Help</h1>
        </div>
    </div>
</div> -->


















<form class="grid grid-cols-2 bg-[#fff] p-[3rem] gap-[3rem]">
    <div>

        <div>
            <p>Your Profile Picture</p>
            <div class="h-[200px] mb-[2rem] w-[35%] rounded-[2rem] p-[2rem] bg-gradient-to-r from-violet-500 to-fuchsia-500" >
                <div class="flex justify-end gap-[2rem]">
                    <img class="cursor-pointer" src="/assets/images/fi_upload-cloud.png" alt="">
                    <img class="cursor-pointer" src="/assets/images/Delete.png" alt="">
                </div>
   
            </div>



            <div class="w-full grid md:grid-cols-2 gap-[3rem]">
                <div class="mb-5">
                    <label for="fullName" class="block mb-2 font-medium text-gray-900">
                        Full Name</label>
                    <input type="text" id="fullName"
                        class="bg-[#F2F2F2] border border-[#EDF2F6] text-gray-900  rounded-[4px] focus:ring-blue-500 focus:border-blue-500 block w-full p-4"
                        placeholder="Full Name" required>
                </div>
        
                <div class="mb-5">
                    <label for="email" class="block mb-2 font-medium text-gray-900">Email
                        Address</label>
                    <input type="email" id="email"
                        class="bg-[#F2F2F2] border border-[#EDF2F6] text-gray-900  rounded-[4px] focus:ring-blue-500 focus:border-blue-500 block w-full p-4"
                        placeholder="Email" required>
                </div>
        
        
            </div>

            <div class="w-full grid md:grid-cols-2 gap-[3rem]">
                <div class="mb-5">
                    <label for="phoneNumber" class="block mb-2 font-medium text-gray-900">
                        Phone Number</label>
                    <input type="phone" id="phoneNumber"
                        class="bg-[#F2F2F2] border border-[#EDF2F6] text-gray-900  rounded-[4px] focus:ring-blue-500 focus:border-blue-500 block w-full p-4"
                        placeholder="Phone Number" required>
                </div>
        
                <div class="mb-5">
                    <label for="country" class="block mb-2 font-medium text-gray-900">
                        Country</label>
                    <input type="text" id="country"
                        class="bg-[#F2F2F2] border border-[#EDF2F6] text-gray-900  rounded-[4px] focus:ring-blue-500 focus:border-blue-500 block w-full p-4"
                        placeholder="Country" required>
                </div>
        
            </div>

            <div class="w-full grid md:grid-cols-2 gap-[3rem]">
                <div class="mb-5">
                    <label for="email" class="block mb-2 font-medium text-gray-900">
                        Address</label>
                    <input type="email" id="address"
                        class="bg-[#F2F2F2] border border-[#EDF2F6] text-gray-900  rounded-[4px] focus:ring-blue-500 focus:border-blue-500 block w-full p-4"
                        placeholder="Address" required>
                </div>
            </div>
        </div>
    </div>
</form>













<form class="w-[50%] m-auto" action="">
        <div class="mb-5">
            <label for="phoneNumber" class="block mb-2 font-medium text-gray-900">Text</label>
            <input type="text" id="text" placeholder="Phone Number"
                class="border border-[#E0E4EC] text-gray-900 bg-[#F2F2F2] rounded-[15px] focus:ring-blue-500 focus:border-blue-500 block w-full p-4"
                required>
        </div>

        <div class="mb-5">
            <label for="email" class="block mb-2 font-medium text-gray-900">Your
                email</label>
            <input type="email" id="email"
                class="bg-[#F2F2F2] border border-[#EDF2F6] text-gray-900  rounded-[15px] focus:ring-blue-500 focus:border-blue-500 block w-full p-4"
                placeholder="Full Name" required>
        </div>
        <div class="mb-5">
            <label for="phoneNumber" class="block mb-2 font-medium text-gray-900">Text</label>
            <input type="text" id="text" placeholder="Phone Number"
                class="border border-[#E0E4EC] text-gray-900 bg-[#F2F2F2] rounded-[15px] focus:ring-blue-500 focus:border-blue-500 block w-full p-4"
                required>
        </div>

        <button type="submit"
        class="text-white bg-[#7B57FC] focus:ring-4 focus:outline-none text-[16px] focus:ring-blue-300 font-medium rounded-[15px] w-full px-5 py-4 text-center tracking-wide">Generate Receipt</button>
</form>





