<div class="flex justify-center items-center w-[100%] md:w-[50%] mt-[100px] ">
    <div class="grid gap-[2rem] w-[100%]">
        <div class="bg-[#FBFBFB] rounded-[15px] shadow grid gap-[2rem] p-[4rem] px-[4rem] w-[100%] py-[2rem] place-items-center ">
            <div class="absolute rounded-[50%] w-[100px] h-[100px] mt-[-120px] flex justify-center items-center mb-[50px]">
                <img src="/assets/images/avatar 2.png" alt="" class="w-full h-full object-cover">
            </div>
            <h1 class="text-center text-[22px] font-[700] mt-[70px]">
                Marci Fumons
            </h1>
            <p class="text-center">youremail@domain.com | +234 1122 334 4556</p>
        </div>
        <div class="bg-[#FBFBFB] rounded-[15px] shadow grid gap-[2rem] p-[3rem] px-[4rem] font-[700]">
            <h1>Account Settings</h1>
            <h1>Login & Security</h1>
            <h1>Help</h1>
        </div>
    </div>
</div>
