// select {
//     appearance: none;
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     text-indent: 1px;
//     text-overflow: '';
//   }

//   select {
//     padding: 5px; 
//     // background: url('your-image-url.png') no-repeat right center; /* Replace 'your-image-url.png' with the URL of your image */
//     background-size: 20px 20px;
//     // border: 1px solid #ccc;
//     border-radius: 4px;
//   }



.loader {
    position: fixed;
    top: 0;
    left: 0;
    // width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1000;
    width: calc(100% - 25.5625rem);
    margin-left: 25.5625rem;
    margin-top: 10vh;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 5px solid #3498db;
    border-top: 5px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
