<div class="w-[80%] m-auto">

    <div class="grid items-center grid-cols-1 w-[95%] md:w-[70%] m-auto gap-[4rem] py-[3rem]">
        <div class="font-[NUNITO-LIGHT] font-[700] text-center md:text-[25px] leading-[3rem] md:leading-[4rem]">
            Welcome to Trevauty, your trusted partner in innovative payment solutions. At Trevauty,
            we are committed to revolutionizing the way businesses and individuals experience payments,
            making transactions seamless, secure, and rewarding.
        </div>
    </div>

    <div class="py-[2rem] w-full">
        <img src="/assets/images/tech-students.png" alt="">
    </div>

    <div class="h-fit">
        <div class="grid grid-cols-1 items-center md:grid-cols-2 gap-[4rem]  m-auto">
            <div class="flex flex-col gap-[2rem]">
                <div
                    class="font-bold md:w-[90%] font-[NUNITO-LIGHT] text-[1rem] md:text-[2rem] leading-[2rem] md:leading-[4rem]">
                    Trevauty has emerged as a forward-thinking startup in the payment industry. Our journey
                    began with a vision to streamline payment processes and has since evolved into a mission
                    to empower businesses and individuals across Africa with user-friendly and innovative payment
                    solutions.
                </div>

            </div>
            <div class="desktop">
                <img src="/assets/images/pos-card.png" class="w-[100%]" alt="">
            </div>
        </div>
    </div>

    <div class="flex justify-center items-center bg-[#A079F3] w-[100%] h-[10vh]">

        <div class="text-[white] text-[30px]">
            Our Mission
        </div>
    </div>
    <div
        class="font-bold md:w-[90%] font-[NUNITO-LIGHT] text-[1rem] md:text-[2rem] leading-[2rem] md:leading-[4rem] my-[4rem]">
        our mission is to provide cutting-edge payment solutions to businesses and
        individuals in Africa, ensuring that transactions are seamless and secure.
        We are dedicated to fostering financial inclusivity and convenience
        through our innovative approach to payments.
    </div>

    <div class="flex justify-center items-center bg-[#A079F3] w-[100%] h-[10vh]">

        <div class="text-[white] text-[30px]">
            Our Vision
        </div>
    </div>

    <div
        class="font-bold md:w-[90%] font-[NUNITO-LIGHT] text-[1rem] md:text-[2rem] leading-[2rem] md:leading-[4rem] my-[4rem]">
        At Trevauty, we envision a future where every transaction is a step toward
        financial empowerment and progress. Our goal is to make payments easy,
        efficient, and accessible, paving the way for a more connected and thriving business landscape in Africa.
    </div>


    <div class="h-fit mt-[13rem]">
        <div class="grid grid-cols-1 items-center md:grid-cols-2 gap-[4rem]  m-auto">
            <div class="desktop">
                <img src="/assets/images/hands-holding.png" class="w-[100%]" alt="">
            </div>
            <div class="grid gap-[3rem]">
                <h1>Our Principals</h1>

                <p class="text-[2rem] font-[NUNITO-LIGHT] leading-[3rem]">
                    <span class="text-[NUNITO-LIGHT]">Innovation: </span> 
                    We are committed to fostering a culture of innovation, continuously 
                    seeking new and creative ways to enhance the payment experience.
                </p>

                <p class="text-[2rem] font-[NUNITO-LIGHT] leading-[3rem]">
                    <span class="text-[NUNITO-LIGHT]">Customer-Centric Approach:</span> Our customers are at the core of our operations. We 
                    prioritize understanding their needs and delivering tailored solutions that ad value to their businesses.
                </p>

                <p class="text-[2rem] font-[NUNITO-LIGHT] leading-[3rem]">
                    <span class="text-[NUNITO-LIGHT]">Adaptability: </span>
                    We embrace adaptability, ensuring that our solutions evolve 
                    alongside the changing needs of our clients and the dynamic payment landscape.
                </p>

                <p class="text-[2rem] font-[NUNITO-LIGHT] leading-[3rem]">
                    <span class="text-[NUNITO-LIGHT]">Integrity: </span>
                    We uphold the highest standard of integrity and transparency in all our operations and relationship, 
                    fostering trust and reliability within the communities we serve.
                </p>

            </div>

        </div>
    </div>

    <div class="w-[50%] grid gap-[2rem]">
        <div>
            We invite you to join us on our mission to simplify payments and foster 
            financial empowerment for businesses and individuals across Africa. Together, 
            let's build a future where every transaction is a step forward in the journey of progress.
        </div>
        <button class="bg-[#7535FD] text-[white] text-[2rem] py-[2rem] px-[5rem] w-[50%]">
            Get Started Now
        </button>
    </div>


</div>