<div [ngClass]="{'has-error': !formData['confirmNewPassword'].valid && formData['confirmNewPassword'].touched}">
    <div class="text-[#4C535F]">
        <label for="">Password</label>
    </div>

    <div class="border-none " *ngIf="formData['confirmNewPassword'].touched && formData['confirmNewPassword'].errors">
        <div class="shadow-none border-none  text-danger"
            *ngIf="formData['confirmNewPassword'].errors['required']">
            Password is required
        </div>
        <div class="shadow-none text-danger" *ngIf="formData['confirmNewPassword'].errors['pattern']">
    
            Password is not valid
        </div>
    </div>

    <div class="flex bg-[#FCFCFC] p-[1.5rem] rounded-[7.69px] border">
        <input [type]="confirmNewPassword" placeholder="Please enter your confirmNewPassword" class="bg-[transparent] w-[95%]">
        <span>
            <img (click)="toggleShowPassword()" src="/assets/images/showPassword.png" alt="">
        </span>
    </div>
</div>
