<div>
    <div class="bg-[#fff] rounded-[2px] mt-[50px] md:w-[50%]">
        <h1 class="p-[2rem] border-b">Terminal Request Form</h1>
        <form  [formGroup]="terminalRequestForm" (ngSubmit)="onSubmit(terminalRequestForm.value)" class="grid gap-[2rem] p-[2rem]">
            <div class="flex gap-[2rem] w-[100%]">
                <div class="w-full" [ngClass]="{'has-error': !formData['operatorsFirstName'].valid && formData['operatorsFirstName'].touched}">
                    <div>
                        <label class="leading-[22px] text-[#212B36] font-[500]" for="">
                            Operator's First name</label>
                    </div>
                    <div class="border-none " *ngIf="formData['operatorsFirstName'].touched && formData['operatorsFirstName'].errors">
                        <div class="shadow-none border-none  text-danger"
                            *ngIf="formData['operatorsFirstName'].errors['required']">
                            The First Name is required
                        </div>
                        <div class="shadow-none text-danger" *ngIf="formData['operatorsFirstName'].errors['pattern']">
                    
                            The First Name is not valid
                        </div>
                    </div>
                    <div class="border rounded-[4px] border-[#E2E8F0] p-[1.5rem]">

                        <input class="outline-none w-[100%]" type="text" placeholder="Enter operator's first name"  name="operatorsFirstName" formControlName="operatorsFirstName">
                    </div>
                </div>
                <div class="w-full" [ngClass]="{'has-error': !formData['operatorsLastName'].valid && formData['operatorsLastName'].touched}">
                    <div>
                        <label class="leading-[22px] text-[#212B36] font-[500]" for="">
                            Operator's Last name</label>
                    </div>
                    <div class="border-none " *ngIf="formData['operatorsLastName'].touched && formData['operatorsLastName'].errors">
                        <div class="shadow-none border-none  text-danger"
                            *ngIf="formData['operatorsLastName'].errors['required']">
                            The Last Name is required
                        </div>
                        <div class="shadow-none text-danger" *ngIf="formData['operatorsLastName'].errors['pattern']">
                    
                            The Last Name is not valid
                        </div>
                    </div>
                    <div class="border rounded-[4px] border-[#E2E8F0] p-[1.5rem]">
                
                        <input class="outline-none w-[100%]" type="text" placeholder="Enter operator's first name"  name="operatorsLastName" formControlName="operatorsLastName">
                    </div>
                </div>
            </div>
            <div class="w-full" [ngClass]="{'has-error': !formData['locationOfTerminal'].valid && formData['locationOfTerminal'].touched}">
                <div>
                    <label class="leading-[22px] text-[#212B36] font-[500]" for="">
                        location of Terminal</label>
                </div>
                <div class="border-none " *ngIf="formData['locationOfTerminal'].touched && formData['locationOfTerminal'].errors">
                    <div class="shadow-none border-none  text-danger"
                        *ngIf="formData['locationOfTerminal'].errors['required']">
                        The location is required
                    </div>
                    <div class="shadow-none text-danger" *ngIf="formData['locationOfTerminal'].errors['pattern']">
                
                        The location is not valid
                    </div>
                </div>
                <div class="border rounded-[4px] border-[#E2E8F0] p-[1.5rem]">
            
                    <input class="outline-none w-[100%]" type="text" placeholder="Enter operator's first name"  name="locationOfTerminal" formControlName="locationOfTerminal">
                </div>
            </div>

            <div class="w-full" [ngClass]="{'has-error': !formData['nameOfTerminal'].valid && formData['nameOfTerminal'].touched}">
                <div>
                    <label class="leading-[22px] text-[#212B36] font-[500]" for="">
                        Terminal Name</label>
                </div>
                <div class="border-none " *ngIf="formData['nameOfTerminal'].touched && formData['nameOfTerminal'].errors">
                    <div class="shadow-none border-none  text-danger"
                        *ngIf="formData['nameOfTerminal'].errors['required']">
                        The Name of Terminal is required
                    </div>
                    <div class="shadow-none text-danger" *ngIf="formData['nameOfTerminal'].errors['pattern']">
                
                        The Name of Terminal is not valid
                    </div>
                </div>
                <div class="border rounded-[4px] border-[#E2E8F0] p-[1.5rem]">
            
                    <input class="outline-none w-[100%]" type="text" placeholder="Enter operator's first name"  name="nameOfTerminal" formControlName="nameOfTerminal">
                </div>
            </div>

            <div class="w-full" [ngClass]="{'has-error': !formData['operatorsPhoneNumber'].valid && formData['operatorsPhoneNumber'].touched}">
                <div>
                    <label class="leading-[22px] text-[#212B36] font-[500]" for="">
                        Operator's Phone Number</label>
                </div>
                <div class="border-none " *ngIf="formData['operatorsPhoneNumber'].touched && formData['operatorsPhoneNumber'].errors">
                    <div class="shadow-none border-none  text-danger"
                        *ngIf="formData['operatorsPhoneNumber'].errors['required']">
                        The Operator's Phone Number is required
                    </div>
                    <div class="shadow-none text-danger" *ngIf="formData['operatorsPhoneNumber'].errors['pattern']">
                
                        The Operator's Phone Number is not valid
                    </div>
                </div>
                <div class="border rounded-[4px] border-[#E2E8F0] p-[1.5rem]">
            
                    <input class="outline-none w-[100%]" type="text" placeholder="Enter operator's first name"  name="operatorsPhoneNumber" formControlName="operatorsPhoneNumber">
                </div>
            </div>


            <div class="w-full" [ngClass]="{'has-error': !formData['noteToTreVauty'].valid && formData['noteToTreVauty'].touched}">
                <div>
                    <label class="leading-[22px] text-[#212B36] font-[500]" for="">
                        Note to Trevauty</label>
                </div>
                <div class="border-none " *ngIf="formData['noteToTreVauty'].touched && formData['noteToTreVauty'].errors">
                    <div class="shadow-none border-none  text-danger"
                        *ngIf="formData['noteToTreVauty'].errors['required']">
                        Note to Trevauty is required
                    </div>
                    <div class="shadow-none text-danger" *ngIf="formData['noteToTreVauty'].errors['pattern']">
                
                        Note to Trevauty is not valid
                    </div>
                </div>
                <div class="border rounded-[4px] border-[#E2E8F0] p-[1.5rem]">
            
                    <textarea class="outline-none w-[100%]" type="text" placeholder="Enter operator's first name"  name="noteToTreVauty" formControlName="noteToTreVauty">

                    </textarea>
                </div>
            </div>

            <div class="w-[100%]">
                <!-- <button (click)="openModal('custom-modal-2')"
                (click)="toggleModal()"
                    class="bg-[#7B57FC] text-[#fff] w-[100%] p-[1rem] rounded-[4px]">Request Terminal</button> -->
                    <button type="submit" class="bg-[#7B57FC] text-[#fff] w-[100%] p-[1rem] rounded-[4px]">Request Terminal</button>
            </div>
        </form>
    </div>
      <app-modal [showModal]="showModal" (closeModal)="toggleModal()"></app-modal>
</div>
