<div class="border border-[grey] my-[2rem]">
    <div class="w-[80%] m-auto py-[2rem]">
        <div class="grid grid-cols-1 md:grid-cols-4 mx-auto gap-4 m-auto">
            <div class="grid gap-4">
                <div><img src="/assets/images/LOGO 3.png" class="w-[120px]" alt=""></div>
                <p class="text-[12px]">
                    Pioneering Excellence in Payment Solutions to Transform Businesses and Empower Individuals
                </p>
                <div class="flex gap-2">
                    <span><img src="/assets/icons/phone-icon.png" class="h-[70%]" alt=""></span>
                    <span>+234 5689432</span>
                </div>
                <div class="flex gap-2">
                    <span><img src="/assets/icons/email-icon.png" class="h-[70%]" alt=""></span>
                    <span>hello@trevauty.com</span>
                </div>
                <div class="flex gap-2">
                    <span><img src="/assets/icons/location-icon.png" class="h-[20%]" alt=""></span>
                    <span class="text-[12px]">Lekki Phase 1(Private) Limited <br>
                        Level 35 <br>
                        World Trade Center <br>
                        Lagos State, Nigeria.
                    </span>
                </div>
                <div>
                    <h4>FOLLOW US</h4>
                    <ul class="grid grid-cols-4 w-[50%]">
                        <li><a href=""><img src="/assets/icons/LinkedIn.png" class="h-[70%]" alt=""> </a></li>
                        <li><a href=""><img src="/assets/icons/Facebook.png" class="h-[70%]" alt=""> </a></li>
                        <li><a href=""><img src="/assets/icons/Instagram.png" class="h-[70%]" alt=""></a></li>
                        <li><a href=""><img src="/assets/icons/Twitter.png" class="h-[70%]" alt=""> </a></li>
                    </ul>
                </div>
            </div>
            <div class="font-Poppins-Light">
                <div class="font-[NUNITO-EXTRA-BOLD] text-[2rem] mb-[1rem] leading-[4rem]">Company</div>

                <ul class="grid gap-6">
                    <li><a href=""> About Us </a></li>
                    <li><a href=""> Success Stories </a></li>
                    <li><a href=""> Privacy Policy </a></li>
                    <li><a href=""> Terms and Condition</a></li>
                    <li><a href=""> Contact Us </a></li>
                </ul>
            </div>
            <div>
                <div class="font-[NUNITO-EXTRA-BOLD] mb-[1rem] text-[2rem] leading-[4rem]">Services</div>
                <ul class="grid gap-6">
                    <li><a href="">POS Terminal </a></li>
                    <li><a href="">NFC Card Payment </a></li>
                    <li><a href="">Payment APIs </a></li>
                    <li><a href="">Open Reciept </a></li>
                    <li><a href="">Customized Payment Solution</a></li>
                </ul>
            </div>
            <div>
                <div class="font-[NUNITO-EXTRA-BOLD] mb-[1rem] text-[2rem] leading-[4rem]">How to Start</div>
                <ul class="grid gap-6">
                    <li><a href="">You Asked </a></li>
                    <li><a href="">We Proceed</a></li>
                    <li><a href="">Negotiate </a></li>
                    <li><a href="">You Get </a></li>
                </ul>
            </div>
        </div>
    </div>

</div>
<p class="w-[80%] m-auto">
    © 2023 Trevauty
</p>
