<div>

    <div class="grid items-center grid-cols-1 w-[95%] md:w-[60%] m-auto gap-[4rem] py-[3rem]">
        <div class="font-[NUNITO-LIGHT] font-[700] text-center md:text-[25px] leading-[3rem] md:leading-[4rem]">
            Welcome to the heart of Trevauty's payment solutions — the Trevauty POS Terminal.
            Our POS system is engineered to transform your business operations by providing a
            seamless and efficient way to process transactions, manage sales, and connect with your customers.
        </div>
        <p class="bg-[#7535FD] text-[white] text-[1.5rem] md:text-[3rem] px-[3rem] md:px-[
        10rem] cursor-pointer rounded-[1rem] w-fit m-auto md:py-[3rem] py-[1rem]">Get Started Now</p>
    </div>

    <div class="md:w-[50%] flex justify-center m-auto">
        <img src="/assets/images/pos.png" alt="">
    </div>




    <div class="h-fit">
        <div class="grid grid-cols-1 items-center md:grid-cols-2 gap-[4rem] w-[80%] m-auto">
            <div class="flex flex-col gap-[2rem]">
                <div
                    class="font-bold md:w-[90%] font-[NUNITO] text-[1rem] md:text-[2rem] leading-[2rem] md:leading-[3rem]">
                    At Trevauty, we believe that your POS system should be more than just a transaction tool.
                    It should be a catalyst for growth, efficiency, and customer satisfaction.
                </div>

                <div class="md:w-[80%] font-[NUNITO-LIGHT] leading-[3rem] text-[2rem]">
                    Here's why Trevauty POS stand out:
                </div>
                <ul class="grid gap-[1rem] md:ml-[3rem]">
                    <li *ngFor="let item of section3" class="flex gap-[1rem]">
                        <img src={{item.image}} class="h-[1rem] mt-[0.5rem]" alt="">
                        <span class="">{{item.label}}</span>
                    </li>
                </ul>

                <div class="mt-[3rem] font-bold">
                    Trevauty POS is not just a point of sale; it's a point of growth. It's the tool that will
                    help you boost sales, serve customers more efficiently, and manage your business operations with
                    ease.
                </div>

            </div>
            <div class="desktop">
                <img src="/assets/images/pos1.png" class="h-fit" alt="">
            </div>

        </div>

    </div>

    <div class="w-[80%] flex justify-start m-auto">

        <p class="bg-[#7535FD] text-[white] text-[1.5rem] md:text-[3rem] px-[3rem] md:px-[
            10rem] cursor-pointer w-fit md:py-[3rem] py-[1rem]">
            Get Started Now
        </p>
    </div>



</div>