<div class="w-[full] bg-[#fff] p-[2rem]">
    <div class="w-[100%] py-[1rem] flex justify-between items-center mb-[2rem] border-y">
        <h1>CARD DETAILS</h1>
        <p class="text-[#7B57FC] text-[18px] cursor-pointer" (click)="goToManageCard()">
            MANAGE SAVED CARDS
        </p>

    </div>


    <div *ngIf="cardEntity;" class="grid md:grid-cols-2 gap-[4rem]">
        <div>
            <div
                class="px-[3rem] py-[2rem] grid gap-[3rem] text-[#fff] relative max-w-[40rem] h-[220px] rounded-[20px] bg-gradient-to-r from-cyan-500 to-blue-500">
                <div class="flex justify-between items-center">
                    <div>{{cardEntity?.cardType}}</div>
                    <div>
                        <img src="/assets/images/master-card.png" alt="">
                    </div>
                </div>
                <div class="grid gap-[1rem]">
                    <div>{{cardEntity?.cardOwner}}</div>
                    <div>{{cardEntity?.cardPan}}</div>
                </div>
            </div>
    
        </div>


        <div class="w-[80%]">
            <h1 class="py-[2rem]">Card Details</h1>

            <div class="w-full">
                <form action="" class="w-full grid gap-[2rem]" [formGroup]="cardDetails" (ngSubmit)="submit()">
                    <div class="w-full  border-b">
                        <label for="" class="font-[200]">CARDHOLDER NAME</label>

                        <div class="border-none " *ngIf="formData['cardOwner'].touched && formData['cardOwner'].errors">
                            <div class="shadow-none border-none  text-danger"
                                *ngIf="formData['cardOwner'].errors['required']">
                                Name is required
                            </div>
                            <div class="shadow-none text-danger" *ngIf="formData['cardOwner'].errors['pattern']">
                                Name is not valid
                            </div>
                        </div>

                        <div class="w-full py-2">
                            <input type="text" name="cardOwner"  id="" class="bg-transparent" formControlName="cardOwner">
                        </div>
                    </div>

                    <div class="w-full  border-b">
                        <label for="" class="font-[200]">CARD NUMBER</label>

                        <div class="border-none " *ngIf="formData['cardPan'].touched && formData['cardPan'].errors">
                            <div class="shadow-none border-none  text-danger"
                                *ngIf="formData['cardPan'].errors['required']">
                                Card pan is required
                            </div>
                            <div class="shadow-none text-danger" *ngIf="formData['cardPan'].errors['pattern']">
                                Card pan is not valid
                            </div>
                        </div>

                        <div class="w-full py-2">
                            <input type="text" name="cardPan" id="" class="bg-transparent" formControlName="cardPan" >

                        </div>
                    </div>

                    <div class="grid grid-cols-1 gap-[2rem]">
                        <div  class="col-span-1" >
                            <label for="" class="font-[200]">EXPIRY DATE</label>


                            <div class="border-none " *ngIf="formData['expiry'].touched && formData['expiry'].errors">
                                <div class="shadow-none border-none  text-danger"
                                    *ngIf="formData['expiry'].errors['required']">
                                    Expiry is required
                                </div>
                                <div class="shadow-none text-danger" *ngIf="formData['expiry'].errors['pattern']">
                                    Expiry is not valid
                                </div>
                            </div>
                            
                            <div class="w-full border-b py-2">
                                <input type="text" name="" id="" class="bg-transparent" formControlName="expiry">
    
                            </div>
                        </div>

                        <!-- <div class="col-span-1">
                            <label for="" class="font-[200]">EXPIRY YEAR</label>

                            <div class="border-none " *ngIf="formData['expiryYear'].touched && formData['expiryYear'].errors">
                                <div class="shadow-none border-none  text-danger"
                                    *ngIf="formData['expiryYear'].errors['required']">
                                    Expiry is required
                                </div>
                                <div class="shadow-none text-danger" *ngIf="formData['expiryYear'].errors['pattern']">
                                    Expiry is not valid
                                </div>
                            </div>
                            <div class="w-full border-b py-2">
                                <input type="text" name="" id="" class="bg-transparent" formControlName="expiryYear">
    
                            </div>
                        </div> -->
                    </div>
                    <div (click)="goToEditCard(cardEntity?.cardPan)" class="bg-[#7B57FC] text-center rounded-[4px] p-[1rem] text-[#fff] w-[100px] cursor-pointer" >Edit</div>
                </form>
            </div>
        </div>
    
    </div>







</div>
