.get-started{

}

@media screen and (max-width:768px) {
    .get-started{
        display: none;
    }
}



a {
    text-decoration: none;
  }
  
  nav {
      font-family: monospace;
  }
  
  ul {
//    background: darkorange;
   list-style: none;
   margin: 0;
   padding-left: 0;
  }
  
  li  {
    // color: #fff;
    // background: darkorange;
    display: inline-block;
    /* float: left; */
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }
  
  li a {
    // color: #fff;
  }
  
  li:hover {
    background: #f9f9f9;
    cursor: pointer;
  }
  
  ul li ul {
    background: #f1f1f1;
    visibility: hidden;
    opacity: 0;
    min-width: 15rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    margin-left: 1rem;
  }
  
  ul li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
  }
  
  ul li ul li {
    clear: both;
    width: 100%;
  }