<div class="w-[100%] py-[1rem] flex justify-between items-center mb-[2rem] border-y">
    <h1>MANAGE SAVED CARDS</h1>
    <p class="text-[#7B57FC] text-[18px] cursor-pointer" (click)="goToAddCard()">
        + Add new card
    </p>

</div>




<div *ngIf="cardList.length > 0; else elseBlock" class="grid md:grid-cols-3 gap-[4rem]" >
    <div *ngFor="let card of cardList">
        <div
            class="px-[3rem] py-[2rem] grid gap-[3rem] text-[#fff] relative max-w-[40rem] h-[220px] rounded-[20px] bg-gradient-to-r from-cyan-500 to-blue-500">
            <div class="flex justify-between items-center">
                <div>{{card.cardType}}</div>

                <div>
                    <img src="/assets/images/master-card.png" alt="">
                </div>
            </div>
            <div class="grid gap-[1rem]">
                <div>{{card.cardOwner}}</div>
                <div>{{card.cardPan}}</div>
            </div>
            <div
                class="bg-[#fff] cursor-pointer shadow flex items-center  w-[40px] h-[40px] rounded-[40px] p-[0.5rem] absolute left-[43%] bottom-[-10%]">
                <img class="m-auto" src="/assets/icons/delete-icon.png" alt="">
            </div>
        </div>
        <div class="text-[#9155FD] py-[1rem] cursor-pointer" (click)="goToGetCard(card.cardPan)">View card details</div>
    </div>
</div>



<ng-template #elseBlock>
    <div *ngIf="isLoading" class="skeleton-loader">
        <div class="skeleton-item" *ngFor="let item of skeletonItems">
          <app-card-display-loader></app-card-display-loader>
        </div>
      </div>
</ng-template>
