

<div class="">


    <div class="py-[2rem] w-[80%] m-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 items-center">
            <div class="md:flex justify-center">
                <div class="flex justify-center flex-col gap-8">
                    <div class="flex justify-center flex-col md:gap-8 gap-2 md:text-[6rem] text-[3rem] text-[#16205F] ">
                        <span class="font-[NUNITO] py-[2rem] leading-[7rem]">
                            Revolutionize Payments In Africa With
                        </span>
                        <span class="flex gap-2 items-center">
                            <span class="">
                                <img src="/assets/images/LOGO 3.png"
                                    class="md:w-[200px] w-[120px] md:mt-[-115px] md:ml-[150px] mt-[-85px] ml-[210px]" alt="">
                            </span>
                        </span>
                    </div>
                    <div class="mt-[4rem] desktop">
                        <p class="text-[2rem] font-bold">Create a Free Account</p>
                    </div>

                </div>
            </div>
            <div>
                <img src="/assets/images/landingImg.png" class="md:h-[80%] h-[100%]" alt="">
            </div>
            <div class="mt-[4rem] mobile">
                <p class="text-[2rem] text-[white] font-bold bg-[#DA6220] inline rounded-[10px] p-[1.2rem]">Create a New Account</p>
            </div>

        </div>
    </div>


    <!-- Trevauty LOGO -->

    <div class="grid gap-[4rem] py-[6rem]">
        <div class="flex justify-center logo-badge">
            <img src="/assets/images/Logo-badge.png" class="h-[300px]" alt="">
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 items-center w-[80%] m-auto gap-[2rem]">
            <div class="grid grid-cols-1 items-center">
                <div class="flex justify-center">
                    <img src="/assets/images/vision.png" class="md:h-[130px] h-[100px]" alt="">
                </div>
                <div class="text-center font-bold font-[NUNITO] text-[2.5rem] my-[1rem]">Our Vision</div>
                <p class="text-center font-[NUNITO-LIGHT font-[500] text-[12px]">At Trevauty, our mission is rooted in a
                    deep
                    commitment to enhancing the way payments are made
                    and received across the African continent.
                    We recognize the transformative power of accessible
                    and efficient payment solutions, and we are dedicated
                    to making this vision a reality for businesses and
                    individuals alike.
                </p>

            </div>
            <div class="grid grid-cols-1 items-center">
                <div class="flex justify-center">
                    <img src="/assets/images/mission.png" class="md:h-[130px] h-[100px]" alt="">
                </div>
                <div class="text-center font-bold font-[NUNITO] text-[2.5rem] my-[1rem]">Our Mission</div>
                <p class="text-center font-[NUNITO-LIGHT font-[500] text-[12px]">At Trevauty, our mission is rooted in a
                    deep
                    commitment to enhancing the way payments are made
                    and received across the African continent.
                    We recognize the transformative power of accessible
                    and efficient payment solutions, and we are dedicated
                    to making this vision a reality for businesses and
                    individuals alike.
                </p>

            </div>
            <div class="grid grid-cols-1 items-center">
                <div class="flex justify-center">
                    <img src="/assets/images/services.png" class="md:h-[130px] h-[100px]" alt="">
                </div>
                <div class="text-center font-bold font-[NUNITO] text-[2.5rem] my-[1rem]">Our Services</div>
                <p class="text-center font-[NUNITO-LIGHT font-[500] text-[12px]">At Trevauty, our mission is rooted in a
                    deep
                    commitment to enhancing the way payments are made
                    and received across the African continent.
                    We recognize the transformative power of accessible
                    and efficient payment solutions, and we are dedicated
                    to making this vision a reality for businesses and
                    individuals alike.
                </p>

            </div>
        </div>
    </div>


    <!-- Process starts here -->

    <div class="bg-[#7535FD] py-[8rem]">
        <div class="flex flex-col items-center w-[80%] m-auto">
            <p class="font-[NUNITO-LIGHT] text-[14px] text-[white]">How to Start</p>
            <h1 class="font-[NUNITO] text-[46px] text-[white]">Easy Process</h1>
            <p class="font-[NUNITO-LIGHT] text-[12px] font-[100] text-[white] w-[100%] md:w-[25%] text-center">
                Experience the advantages of Trevauty POS for yourself and take your business to new heights.</p>
            <div class="grid grid-cols-2 md:grid-cols-4 w-[80%] mx-auto">
                <div *ngFor="let process of processes" class=" flex justify-center flex-col gap-4 items-center">
                    <div class="h-[50%]">
                        <img src="{{process.img}}" class="h-[100%]" alt="">
                    </div>
                    <div class="flex justify-between gap-[0.5rem] text-[white]">
                        <span class="text-[2rem] font-semibold">{{process.number}}</span>
                        <span class="text-[2rem]">{{process.text}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Process ends here -->



    <!-- About sections -->

    <!-- Section 1 starts-->

    <div class="py-[6rem] h-fit">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-[4rem] w-[80%] m-auto">
            <div class="flex flex-col gap-[2rem]">
                <div class="font-bold md:w-[80%] font-[NUNITO-EXTRA-BOLD] text-[1.5rem] md:text-[2rem] leading-[2rem] md:leading-[3rem]">
                    Monitor and manage your dashboard seamlessly
                </div>

                <div
                    class="mobile">
                    <img src="/assets/images/dashboard-bg.png" alt="">

                </div>

                <div>
                    Your central hub for managing and monitoring your point-of-sale
                    (POS) operations. Trevauty provides a seamless checkout experience
                    and more to your customers.
                </div>
                <div class="font-bold md:w-[80%] font-[NUNITO-EXTRA-BOLD] text-[2rem] leading-[3rem]">
                    Key metrics at a glance:
                </div>
                <ul class="grid gap-[1rem]">
                    <li *ngFor="let item of section1" class="flex gap-[1rem]">
                        <img src={{item.image}} alt="">
                        <span class="font-bold">{{item.label}}</span>
                    </li>

                </ul>

                <div class="mt-[3rem] font-bold">
                    <a href="">GET STARTED</a>
                </div>

            </div>
            <div class="desktop">
                <div class="h-[80%]">
                    <img src="/assets/images/dashboard-bg.png" class="w-[80%]"   alt="">

                </div>
                
            </div>
        </div>

    </div>

    <!-- Section 1 ends -->


    <!-- Section 2 starts here -->

    <div class="bg-[#EEE6FD] py-[6rem] h-fit">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-[4rem] w-[80%] m-auto">
            <div class="flex flex-col gap-[2rem]">
                <div class="font-bold md:w-[80%] font-[NUNITO-EXTRA-BOLD] text-[1.5rem] md:text-[2rem] leading-[2rem] md:leading-[3rem]">
                    Trevauty POS Terminal is here to empower merchants
                    with cutting-edge point-of-sale(POS) solutions
                    that goes beyound transactions.
                </div>

                <div
                    class="mobile bg-[url('/assets/images/dinner-girl.png')] h-[20rem] rounded-bl-[6rem] rounded-tr-[6rem] relative">
                    <div
                        class="absolute left-0 bottom-0 bg-[#7535FD] px-[3rem] py-[1rem] text-[white] text-[12px] md:text-[1.5rem] w-[70%] rounded-bl-[6rem]">
                        Savor the Moment, Simplify your Transaction: Pay with Ease Using Trevauty POS
                    </div>

                </div>

                <div>
                    We provide access to point-of-sale(POS) terminal to
                    businesses such as retail outlets, Restaurant,
                    Market sellers and distributor touch points,
                    allowing them collect payment via cards or transfer.
                </div>
                <div class="font-bold md:w-[80%] font-[NUNITO] leading-[3rem] text-[2rem]">
                    Trevauty POS terminal support diferents transactions including:
                </div>
                <ul class="grid gap-[1rem]">
                    <li *ngFor="let item of section2" class="flex gap-[1rem]">
                        <img src={{item.image}} alt="">
                        <span class="font-bold">{{item.label}}</span>
                    </li>
                </ul>

                <div class="mt-[3rem] font-bold">
                    <a href="">GET STARTED NOW</a>
                </div>

            </div>
            <div class="desktop">
                <div class="bg-[url('/assets/images/dinner-girl.png')] h-full rounded-bl-[6rem]  relative bg-center">
                    <div
                        class="absolute left-0 bottom-0 bg-[#7535FD] px-[3rem] py-[1rem] text-[white] text-[1.5rem] w-[50%] rounded-bl-[6rem]">
                        Savor the Moment, Simplify your Transaction: Pay with Ease Using Trevauty POS
                    </div>

                </div>
            </div>
        </div>

    </div>

    <!-- Section 2 ends here -->


    <!-- section 3 starts here -->

    <div class=" py-[6rem] h-fit">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-[4rem] w-[80%] m-auto">
            <div class="desktop">
                <img src="/assets/images/dashboard-full.png" class="h-[80%]" alt="">
            </div>
            <div class="flex flex-col gap-[2rem]">
                <div class="font-bold md:w-[90%] font-[NUNITO-EXTRA-BOLD] text-[1.5rem] md:text-[2rem] leading-[2rem] md:leading-[3rem]">
                    At Trevauty, we understand that knowledge is power, especially
                    when it comes to managing your business. That's why
                    we've developed an intuitive and powerful analytics
                    dashboard to help you gain valuable insights into
                    your merchant activities.
                </div>

                <div class="mobile">
                    <div class=" w-[100%]">
                        <img src="/assets/images/dashboard-full.png" class="w-full" alt="">
                    </div>


                </div>

                <div>
                    Our analytics platform empowers you to make data-driven
                    decisions that can drive growth, improve efficiency,
                    and enhance the customer experience.
                </div>
                <div class="font-bold md:w-[80%] font-[NUNITO] leading-[3rem] text-[2rem]">
                    Some of our Keys features in Trevauty POS Terminal:
                </div>
                <ul class="grid gap-[1rem]">
                    <li *ngFor="let item of section3" class="flex gap-[1rem]">
                        <img src={{item.image}} alt="">
                        <span class="font-bold">{{item.label}}</span>
                    </li>
                </ul>

                <div class="mt-[3rem] font-bold">
                    <a href="">GET STARTED NOW</a>
                </div>

            </div>

        </div>

    </div>

    <!-- section 3 ends here -->


