
<div class="w-[80%] m-auto">

    <div class="grid items-center grid-cols-1 w-[100%] md:w-[80%] m-auto gap-[4rem] md:py-[3rem] pt-[5rem] text-[#16205F]">
        <div class="font-[NUNITO] font-[700] md:text-center md:text-[25px] leading-[2rem] md:leading-[4rem]">
            Welcome to Open Receipts, your digital platform for efficient and organized receipt 
            management. With Open Receipts, keeping track of your purchase receipts has never 
            been easier. Say goodbye to cluttered paper receipts and embrace a streamlined, 
            digital solution for all your transaction records.
        </div>
    </div>

    <div class="md:py-[8rem] py-[3rem] w-full">
        <img src="/assets/images/pos-frame.png" alt="">
    </div>

    <div class="h-fit">
        <div class="grid grid-cols-1 items-center md:grid-cols-2 gap-[4rem]  m-auto">
            <div class="flex flex-col gap-[2rem] md:py-[6rem]">
                <div
                    class="font-bold md:w-[90%] font-[NUNITO-LIGHT] text-[#16205F] md:text-[2rem] leading-[2rem] md:leading-[4rem]">
                    Open Receipts is designed to simplify the process of recording and tracking purchase receipts. 
                    Our platform automatically generates and organizes a comprehensive list of all your receipts,
                     providing you with an orderly and easily accessible digital record of your transactions.

                </div>

            </div>
            <div class="desktop">

            </div>
        </div>
    </div>



    <div class="h-fit md:w-[80%] my-[2rem]">
        <div class="grid grid-cols-1 items-center  gap-[4rem] m-auto">
            <div class="flex flex-col gap-[2rem]">

                <div class="md:w-[80%] font-[NUNITO] leading-[3rem] text-[2rem]">
                    Key metrics at a glance:
                </div>
                <ul class="grid gap-[2rem]">
                    <li *ngFor="let item of section3" class="flex gap-[1rem]">
                        <img src={{item.image}} class="h-[1rem] mt-[0.5rem]" alt="">
                        <span class="md:text-[1.8rem] font-[NUNITO-LIGHT] text-[#16205F] md:leading-[4rem]">{{item.label}}</span>
                    </li>
                </ul>

            </div>

        </div>
    </div>
    



    <div class="md:w-[50%] grid gap-[2rem]">

        <p class="text-[2rem] py-[2rem] ">
            Join Us in Going Paperless:
        </p>

        <div class="md:text-[2rem] md:leading-[3rem] font-[NUNITO-LIGHT]">
            We invite you to join us on our mission to simplify payments and foster 
            financial empowerment for businesses and individuals across Africa. Together, 
            let's build a future where every transaction is a step forward in the journey of progress.
        </div>

        <p class="md:text-[2rem] font-[NUNITO] py-[6rem]">
            GET STARTED NOW
        </p>
    </div>


</div>