<div>
    <div class="bg-[#fff] rounded-[2px] mt-[50px] md:w-[50%]">
        <h1 class="p-[2rem] border-b">Terminal Request Form</h1>
        <form [formGroup]="terminalRequestForm" (ngSubmit)="onSubmit(terminalRequestForm.value)"
            class="grid gap-[2rem] p-[2rem]">
            <div class="flex gap-[2rem] w-[100%]">
                <div class="w-full"
                    [ngClass]="{'has-error': !formData['customersFirstName'].valid && formData['customersFirstName'].touched}">
                    <div>
                        <label class="leading-[22px] text-[#212B36] font-[500]" for="">
                            Customer's First name</label>
                    </div>
                    <div class="border-none "
                        *ngIf="formData['customersFirstName'].touched && formData['customersFirstName'].errors">
                        <div class="shadow-none border-none  text-danger"
                            *ngIf="formData['customersFirstName'].errors['required']">
                            The First Name is required
                        </div>
                        <div class="shadow-none text-danger" *ngIf="formData['customersFirstName'].errors['pattern']">

                            The First Name is not valid
                        </div>
                    </div>
                    <div class="border rounded-[4px] border-[#E2E8F0] p-[1.5rem]">

                        <input class="outline-none w-[100%]" type="text" placeholder="Enter customer's first name"
                            name="customersFirstName" formControlName="customersFirstName">
                    </div>
                </div>


                <div class="w-full"
                    [ngClass]="{'has-error': !formData['customersLastName'].valid && formData['customersLastName'].touched}">
                    <div>
                        <label class="leading-[22px] text-[#212B36] font-[500]" for="">
                            Customer's Last name</label>
                    </div>
                    <div class="border-none "
                        *ngIf="formData['customersLastName'].touched && formData['customersLastName'].errors">
                        <div class="shadow-none border-none  text-danger"
                            *ngIf="formData['customersLastName'].errors['required']">
                            The Last Name is required
                        </div>
                        <div class="shadow-none text-danger" *ngIf="formData['customersLastName'].errors['pattern']">

                            The Last Name is not valid
                        </div>
                    </div>
                    <div class="border rounded-[4px] border-[#E2E8F0] p-[1.5rem]">

                        <input class="outline-none w-[100%]" type="text" placeholder="Enter customer's first name"
                            name="customersLastName" formControlName="customersLastName">
                    </div>
                </div>
            </div>


            <div class="flex gap-[2rem] w-[100%]">
                <div class="w-full"
                    [ngClass]="{'has-error': !formData['customersPhoneNumber'].valid && formData['customersPhoneNumber'].touched}">
                    <div>
                        <label class="leading-[22px] text-[#212B36] font-[500]" for="">
                            Customer's Phone Number</label>
                    </div>
                    <div class="border-none "
                        *ngIf="formData['customersPhoneNumber'].touched && formData['customersPhoneNumber'].errors">
                        <div class="shadow-none border-none  text-danger"
                            *ngIf="formData['customersPhoneNumber'].errors['required']">
                            The Customer's Phone Number is required
                        </div>
                        <div class="shadow-none text-danger" *ngIf="formData['customersPhoneNumber'].errors['pattern']">

                            The Customer's Phone Number is not valid
                        </div>
                    </div>
                    <div class="border rounded-[4px] border-[#E2E8F0] p-[1.5rem]">

                        <input class="outline-none w-[100%]" type="text" placeholder="Enter customer's first name"
                            name="customersPhoneNumber" formControlName="customersPhoneNumber">
                    </div>
                </div>

                <div class="w-full"
                    [ngClass]="{'has-error': !formData['disputedAMount'].valid && formData['disputedAMount'].touched}">
                    <div>
                        <label class="leading-[22px] text-[#212B36] font-[500]" for="">
                            Customer's disputedAMount</label>
                    </div>
                    <div class="border-none "
                        *ngIf="formData['disputedAMount'].touched && formData['disputedAMount'].errors">
                        <div class="shadow-none border-none  text-danger"
                            *ngIf="formData['disputedAMount'].errors['required']">
                            The disputedAMount is required
                        </div>
                        <div class="shadow-none text-danger" *ngIf="formData['disputedAMount'].errors['pattern']">

                            The disputedAMount is not valid
                        </div>
                    </div>
                    <div class="border rounded-[4px] border-[#E2E8F0] p-[1.5rem]">

                        <input class="outline-none w-[100%]" type="number" min="0"
                            placeholder="Enter customer's first name" name="disputedAMount"
                            formControlName="disputedAMount">
                    </div>
                </div>
            </div>

            <div class="flex gap-[2rem] w-[100%]">
                <div class="w-full"
                    [ngClass]="{'has-error': !formData['nameOfTerminal'].valid && formData['nameOfTerminal'].touched}">
                    <div>
                        <label class="leading-[22px] text-[#212B36] font-[500]" for="">
                            Terminal Name</label>
                    </div>
                    <div class="border-none "
                        *ngIf="formData['nameOfTerminal'].touched && formData['nameOfTerminal'].errors">
                        <div class="shadow-none border-none  text-danger"
                            *ngIf="formData['nameOfTerminal'].errors['required']">
                            The Name of Terminal is required
                        </div>
                        <div class="shadow-none text-danger" *ngIf="formData['nameOfTerminal'].errors['pattern']">

                            The Name of Terminal is not valid
                        </div>
                    </div>
                    <div class="border rounded-[4px] border-[#E2E8F0] p-[1.5rem]">

                        <input class="outline-none w-[100%]" type="text" placeholder="Enter customer's first name"
                            name="nameOfTerminal" formControlName="nameOfTerminal">
                    </div>
                </div>

                <div class="w-full"
                    [ngClass]="{'has-error': !formData['operatorsName'].valid && formData['operatorsName'].touched}">
                    <div>
                        <label class="leading-[22px] text-[#212B36] font-[500]" for="">
                            operator's Name</label>
                    </div>
                    <div class="border-none "
                        *ngIf="formData['operatorsName'].touched && formData['operatorsName'].errors">
                        <div class="shadow-none border-none  text-danger"
                            *ngIf="formData['operatorsName'].errors['required']">
                            operator's Name is required
                        </div>
                        <div class="shadow-none text-danger" *ngIf="formData['operatorsName'].errors['pattern']">

                            operator's Name is not valid
                        </div>
                    </div>
                    <div class="border rounded-[4px] border-[#E2E8F0] p-[1.5rem]">

                        <input class="outline-none w-[100%]" type="text" placeholder="Enter customer's first name"
                            name="operatorsName" formControlName="operatorsName">
                    </div>
                </div>
            </div>

            <div class="w-full"
                [ngClass]="{'has-error': !formData['locationOfTerminal'].valid && formData['locationOfTerminal'].touched}">
                <div>
                    <label class="leading-[22px] text-[#212B36] font-[500]" for="">
                        Terminal Location</label>
                </div>
                <div class="border-none "
                    *ngIf="formData['locationOfTerminal'].touched && formData['locationOfTerminal'].errors">
                    <div class="shadow-none border-none  text-danger"
                        *ngIf="formData['locationOfTerminal'].errors['required']">
                        Location is required
                    </div>
                    <div class="shadow-none text-danger" *ngIf="formData['locationOfTerminal'].errors['pattern']">

                        Location not valid
                    </div>
                </div>
                <div class="border rounded-[4px] border-[#E2E8F0] p-[1.5rem]">

                    <input class="outline-none w-[100%]" type="text" placeholder="Location" name="locationOfTerminal"
                        formControlName="locationOfTerminal">
                </div>
            </div>

            <div class="w-full" [ngClass]="{'has-error': !formData['dateAndTimeOfTransaction'].valid && formData['dateAndTimeOfTransaction'].touched}">
                <div>
                    <label class="leading-[22px] text-[#212B36] font-[500]" for="">
                        Date and Time of Transcation</label>
                </div>
                <div class="border-none " *ngIf="formData['dateAndTimeOfTransaction'].touched && formData['dateAndTimeOfTransaction'].errors">
                    <div class="shadow-none border-none  text-danger" *ngIf="formData['dateAndTimeOfTransaction'].errors['required']">
                        Date and time of the transcation is required
                    </div>
                    <div class="shadow-none text-danger" *ngIf="formData['dateAndTimeOfTransaction'].errors['pattern']">

                        Date and time of the transcation is not valid
                    </div>
                </div>
                <div class="border rounded-[4px] border-[#E2E8F0] p-[1.5rem]">

                    <input class="outline-none w-[100%]" type="datetime-local"
                        placeholder="Enter date and time of the transcation" name="dateAndTimeOfTransaction" formControlName="dateAndTimeOfTransaction">
                </div>
            </div>

            <div class="w-full" [ngClass]="{'has-error': !formData['noteToTreVauty'].valid && formData['noteToTreVauty'].touched}">
                <div>
                    <label class="leading-[22px] text-[#212B36] font-[500]" for="">
                        Note to Trevauty</label>
                </div>
                <div class="border-none " *ngIf="formData['noteToTreVauty'].touched && formData['noteToTreVauty'].errors">
                    <div class="shadow-none border-none  text-danger" *ngIf="formData['noteToTreVauty'].errors['required']">
                        Note to Trevauty is required
                    </div>
                    <div class="shadow-none text-danger" *ngIf="formData['noteToTreVauty'].errors['pattern']">

                        Note to Trevauty is not valid
                    </div>
                </div>
                <div class="border rounded-[4px] border-[#E2E8F0] p-[1.5rem]">

            <textarea class="outline-none w-[100%]" type="text" placeholder="Enter Comment" name="noteToTreVauty"
                formControlName="noteToTreVauty">

                    </textarea>
            </div>
            </div>

            <div class="w-[100%]">
                <!-- <button (click)="openModal('custom-modal-2')"
                (click)="toggleModal()"
                    class="bg-[#7B57FC] text-[#fff] w-[100%] p-[1rem] rounded-[4px]">Request Terminal</button> -->
                <button type="submit" class="bg-[#7B57FC] text-[#fff] w-[100%] p-[1rem] rounded-[4px]">Request
                    Terminal</button>
            </div>
        </form>
    </div>
    <app-modal [showModal]="showModal" (closeModal)="toggleModal()"></app-modal>
</div>