<div>
    <div class="bg-[#fff] rounded-[2px] mt-[50px] md:w-[50%]">
        <h1 class="p-[2rem] border-b">Terminal Request Form</h1>
        <form class="grid gap-[2rem] p-[2rem]">
            <div class="flex gap-[2rem] w-[100%]">
                <div class="w-[100%]">
                    <div>
                        <label class="leading-[22px] text-[#212B36] font-[500]" for="">
                            Operator's First name</label>
                    </div>
                    <div class="border rounded-[4px] border-[#E2E8F0] p-[1.5rem]">
                        <input class="outline-none w-[100%]" type="text" placeholder="Enter operator's first name">
                    </div>
                </div>
                <div class="w-[100%]">
                    <div>
                        <label class="leading-[22px] text-[#212B36] font-[500]" for="">
                            Operator's Last name</label>
                    </div>
                    <div class="border rounded-[4px] border-[#E2E8F0] p-[1.5rem]">
                        <input class="outline-none w-[100%]" type="text" placeholder="Enter operator's last name">
                    </div>
                </div>
            </div>
            <div class="w-[100%]">
                <div>
                    <label class="leading-[22px] text-[#212B36] font-[500]" for="">
                        Operator's Last name</label>
                </div>
                <div class="border rounded-[4px] border-[#E2E8F0] p-[1.5rem]">
                    <input class="outline-none w-[100%]" type="text" placeholder="Enter operator's last name">
                </div>
            </div>

            <div class="w-[100%]">
                <div>
                    <label class="leading-[22px] text-[#212B36] font-[500]" for="">
                        Operator's Last name</label>
                </div>
                <div class="border rounded-[4px] border-[#E2E8F0] p-[1.5rem]">
                    <input class="outline-none w-[100%]" type="text" placeholder="Enter operator's last name">
                </div>
            </div>

            <div class="w-[100%]">
                <div>
                    <label class="leading-[22px] text-[#212B36] font-[500]" for="">
                        Operator's Last name
                    </label>
                </div>
                <div class="border rounded-[4px] border-[#E2E8F0] p-[1.5rem]">
                    <input class="outline-none w-[100%]" type="text" placeholder="Enter operator's last name">
                </div>
            </div>

            <div class="w-[100%]">
                <div>
                    <label class="leading-[22px] text-[#212B36] font-[500]" for="">
                        Operator's Last name</label>
                </div>
                <div class="border rounded-[4px] border-[#E2E8F0] p-[1.5rem]">
                    <textarea class="outline-none w-[100%]" type="text" placeholder="Enter operator's last name">
                </textarea>
                </div>
            </div>

            <div class="w-[100%]">
                <button (click)="openModal('custom-modal-2')"
                (click)="toggleModal()"
                    class="bg-[#7B57FC] text-[#fff] w-[100%] p-[1rem] rounded-[4px]">Request Terminal</button>
            </div>
        </form>
    </div>
      <app-modal [showModal]="showModal" (closeModal)="toggleModal()"></app-modal>
</div>
