<div class="w-full"
[ngClass]="{'has-error': !formData['noteToTreVauty '].valid && formData['noteToTreVauty '].touched}">
<div>
    <label class="leading-[22px] text-[#212B36] font-[500]" for="">
        Customer's First name</label>
</div>
<div class="border-none " *ngIf="formData['noteToTreVauty '].touched && formData['noteToTreVauty '].errors">
    <div class="shadow-none border-none  text-danger"
        *ngIf="formData['noteToTreVauty '].errors['required']">
        The First Name is required
    </div>
    <div class="shadow-none text-danger" *ngIf="formData['noteToTreVauty '].errors['pattern']">
        The First Name is not valid
    </div>
</div>
<div class="border rounded-[4px] border-[#E2E8F0] p-[1.5rem]">

    <input class="outline-none w-[100%]" type="text" placeholder="Enter customer's first name"
        name="noteToTreVauty " formControlName="noteToTreVauty ">
</div>
</div>