<div class="product-list grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-3 gap-4 mt-8">
  
  <div class="px-[3rem] mb-[2rem] py-[2rem] grid gap-[3rem] relative max-w-[40rem] h-[220px] rounded-[20px] bg-gray-200 animate-pulse">
    <div class="flex justify-between items-center">
      <div class="h-[20px] bg-gray-400 rounded w-[30%]"></div>
      <div class="h-[20px] bg-gray-400 rounded w-[20px]"></div>
    </div>
    <div class="grid gap-[1rem]">
      <div class="h-[20px] bg-gray-400 rounded w-[50%]"></div>
      <div class="h-[20px] bg-gray-400 rounded w-[80%]"></div>
    </div>
    <div class="bg-gray-400 flex items-center w-[40px] h-[40px] rounded-[40px] absolute left-[43%] bottom-[-10%]"></div>
  </div>

  <div class="px-[3rem] mb-[2rem] py-[2rem] grid gap-[3rem] relative max-w-[40rem] h-[220px] rounded-[20px] bg-gray-200 animate-pulse">
    <div class="flex justify-between items-center">
      <div class="h-[20px] bg-gray-400 rounded w-[30%]"></div>
      <div class="h-[20px] bg-gray-400 rounded w-[20px]"></div>
    </div>
    <div class="grid gap-[1rem]">
      <div class="h-[20px] bg-gray-400 rounded w-[50%]"></div>
      <div class="h-[20px] bg-gray-400 rounded w-[80%]"></div>
    </div>
    <div class="bg-gray-400 flex items-center w-[40px] h-[40px] rounded-[40px] absolute left-[43%] bottom-[-10%]"></div>
  </div>

  <div class="px-[3rem] mb-[2rem] py-[2rem] grid gap-[3rem] relative max-w-[40rem] h-[220px] rounded-[20px] bg-gray-200 animate-pulse">
    <div class="flex justify-between items-center">
      <div class="h-[20px] bg-gray-400 rounded w-[30%]"></div>
      <div class="h-[20px] bg-gray-400 rounded w-[20px]"></div>
    </div>
    <div class="grid gap-[1rem]">
      <div class="h-[20px] bg-gray-400 rounded w-[50%]"></div>
      <div class="h-[20px] bg-gray-400 rounded w-[80%]"></div>
    </div>
    <div class="bg-gray-400 flex items-center w-[40px] h-[40px] rounded-[40px] absolute left-[43%] bottom-[-10%]"></div>
  </div>



</div>