
//    .dashboard_text{
//         font-family: 'Poppins';
//     font-style: normal;
//     font-weight: 400;
//     font-size: 18px;
//     line-height: 27px;
//     color: #92959E;
    
//     }
    
    .dashboard_date .date_text{
    //     font-family: 'Poppins';
    // font-style: normal;
    // font-weight: 600;
    // font-size: 18px;
    // line-height: 27px;
    // color: #15192C;
    
    // font-family: 'Poppins';
    // font-style: normal;
    // // font-weight: 600;
    // font-weight: bolder;
    // font-size: 14px;
    // line-height: 27px;
    
    color: #15192C;
    font-size: small;
    font-weight: bold;
    margin-right: 15px;
    }

     .dashboard_date{
        display: flex;
        background-color: #F6F7F8;
        padding: 8px 15px;
    }
    
    .dashboard_date{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
    }
    
    .dashboard_date .date_icon{
        margin-right: 8px;
    }

        
    .deposit_section .deposit_row{
        // background-color: blue;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
        
    .terminal_rows .pos_locatn{
        display: flex;
        margin-bottom: 18px;
        // justify-content: space-between;
    }
    
    .pos_locatn .pos_img{
    flex: 0.1;
    // background-color: gray;
    justify-content: center;
    display: flex;
    }
    
    .pos_locatn .desc{
     flex: 0.7;
    //  background-color: palegreen;
     display: flex;
     flex-direction: column;
    //  align-items: center;
    justify-content: center;
    }
    
    .desc .desc_1 {
    height: 20px;
    
    /* Light/Typography/Body 2 Semibold */
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    letter-spacing: 0.15px;
    
    /* Light/Text/Primary */
    
    color: rgba(58, 53, 65, 0.87);
    
    }
    
    .desc .desc_2{
        // width: 134px;
    height: 20px;
    
    /* Light/Typography/Caption */
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 166% */
    
    letter-spacing: 0.4px;
    
    /* Light/Text/Secondary */
    
    color: rgba(58, 53, 65, 0.68);
    
    }
    
    .pos_locatn .amt{
        font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    text-align: right;
    letter-spacing: 0.15px;
    
    /* Light/Success/Main */
    
    color: #56CA00;
    }
    
    .pos_locatn .amt{
      flex: 0.2;
        // background-color: #92959E;
        display: flex;
        justify-content: end;
    
    }
    
    .pos_locatn .desc{
        display: flex;
        flex-direction: column;
    }
    
    
    .withdrawal_section .withdrawal_row{
        // background-color: aqua;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    
    .withdrawal_row .withdrawal p{
    //     font-family: 'Inter';
    // font-style: normal;
    // font-weight: 500;
    // font-size: 20px;
    // line-height: 32px;
    // /* identical to box height, or 160% */
    
    // letter-spacing: 0.15px;
    
    // /* Light/Text/Primary */
    
    color: rgba(58, 53, 65, 0.87);
    
    }
    
    .line_btn {
        background-color: lightgrey;
        height: 330px;
        width: 1px;
        // flex: 0.2;
    }

    
    .operators_card{
        // background-color: red;
        height: 450px;
        margin-bottom: 30px;
    }
    
    .operator_row .text{
        // width: 384px;
    height: 32px;
    
    /* Light/Typography/H6 */
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */
    
    letter-spacing: 0.15px;
    
    /* Light/Text/Primary */
    
    color: rgba(58, 53, 65, 0.87);
    
    }
    
    .operators_header .name{
        flex: 0.6;
        width: 37px;
    height: 24px;
    
    /* Light/Components/Table Header */
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 200% */
    
    letter-spacing: 0.17px;
    text-transform: uppercase;
    
    }
    
    .operators_header .profit{
        flex: 0.4;
        // width: 44px;
    height: 24px;
    
    /* Light/Components/Table Header */
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 200% */
    
    letter-spacing: 0.17px;
    text-transform: uppercase;
    
    /* Light/Text/Primary */
    
    color: rgba(58, 53, 65, 0.87);
    
    }
    
    .terminal_name .name{
    height: 20px;
    
    /* Light/Typography/Body 2 Semibold */
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    letter-spacing: 0.15px;
    
    /* Light/Text/Primary */
    
    color: rgba(58, 53, 65, 0.87);
    
    }
    
    .operators_table .terminal_loctn{
        // width: 105px;
    height: 20px;
    
    /* Light/Typography/Caption */
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 166% */
    
    letter-spacing: 0.4px;
    
    /* Light/Text/Secondary */
    
    color: rgba(58, 53, 65, 0.68);
    
    }
    
    .operators_table .amount{
        // width: 189px;
    height: 20px;
    
    /* Light/Typography/Body 2 Semibold */
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    letter-spacing: 0.15px;
    
    /* Light/Text/Secondary */
    
    color: rgba(58, 53, 65, 0.68);
    
    }
    
    .operators_card .empty_card{
       flex: 0.5;
    //    background-color: #56CA00;
       border-radius: 0px 8px 8px 0px;
    }
    
    .card1 .operator_row{
    display: flex;
    // background-color: antiquewhite;
    // justify-content: center;
    justify-content: space-between;
    align-items: center;
    }
    
    .card1 .operators_header{
        display: flex;
        // background-color: #56CA00;
        padding-top: 25px;
    }
    
    .operators_table{
        display: flex;
        padding-top: 18px;
    }
    
    .operators_table .image_icon{
         flex: 0.1;
        //  background-color: #92959E;
    }
    
    .operators_table .terminal_name{
         flex: 0.5;
        //  background-color: aqua;
         padding-left: 10px;
    }
    
    .operators_table .amount{
         flex: 0.4;
        //   background-color: teal;
    }
    
    .operators_card > hr{
        background-color: lightgrey;
        border: 1px;
    }

    
   .activity_row{
        // background-color: #56CA00;
        display: flex;
        justify-content: space-between;
    }
    
    .activity_row .activity{
        color: #6D707B;
        font-size: larger;
        font-weight: 800;
    }
    
    .activity_line{
        // background-color: pink;
        display: flex;
        // justify-content: space-between;
        align-items: center;
        padding-bottom: 63px;
        padding-top: 10px;
    }
    
    .liner{
        border-top: 1px solid lightgrey;
    }
    
    .activity_line .activity_img{
        flex: 0.2;
        // background-color: antiquewhite;
    }
    
    .activity_line .activity_des{
        flex: 0.8;
        // background-color: #92959E;
    }
    
    .activity_dec .update{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 21px;
    color: #15192C;
    }
    
    .activity_des .text{
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    
    color: #15192C;
    
    }
    
    .line_width{
        width: 150px;
        // color: lightgrey;
        color: black;
        padding: 5px;
        border: 2px;
    }