<!-- <div class="bg-[#f9f9f9] grid gap-[2rem] w-[80%]">
    <h1 class="font-[700] text-[27px] text-[#1C065A] leading-[37px]">POS Operations</h1>
    <p class="leading-[19px] text-[14px] text-[#1C065A]">Manage your POS Operations business seamlessly</p>

    <div>Tabs</div>

    <div class="bg-[#fff] rounded-[20px]">
        <div class="grid grid-cols-4 gap-[1rem]">
            <div class="flex border-r gap-[1rem]">
                <div class="flex justify-center items-center bg-[#CEE0F3] rounded-[16px] p-[1rem]">
                    <img src="/assets/images/Paper.png" alt="">
                </div>
                <div>
                    <h3 class="leading-[22px] font-[700] text-[16px] text-[#92959E]">Terminals</h3>
                    <p class="text-[#15192C] leading-[27px]">2</p>
                </div>
            </div>
        </div>

    </div>
</div> -->


<div class="bg-[#F5F4F7] h-fit md:pr-[2rem] p-[2rem] ">
    
    <div class="flex justify-between items-center mb-[3rem]">
        <div class="">
            <div class="">
                <h2 class="text-[#15192C] font-[600] text-[27px] leading-[33px]">Dashboard</h2>
            </div>
            <div class="leading-[67px] text-[18px]  text-[#1C065A]">
                <p>Information about your terminals and usages</p>
            </div>
        </div>
    </div>

    <div class="grid md:grid-cols-3 grid-cols-1">
        <div class="md:col-span-2 col-span-2 grid gap-[2rem]">
            <div
                class="dashbord_items gap-[1rem] grid md:grid-cols-4 grid-cols-1 justify-between my-0 bg-[#fff] rounded-[8px] p-[30px] mb-[20px]">
                <div
                    class="col-span-1 flex md:justify-center p-[2rem] items-center  md:border-r border-b md:border-b-0">
                    <div class="mr-[8px] flex justify-center items-center bg-[#CEE0F3] rounded-[16px] p-[2rem]">
                        <img src="/assets/images/Paper.png" />
                    </div>

                    <div class="mr-[35px] font-[700] text-[16px] leading-[24px] text-[#92959E]">

                        <div class="mr-[35px] font-[700] text-[16px] leading-[24px] text-[#92959E]">
                            <p>Terminals</p>
                        </div>
                        <div class="text-[20px] leading-[30px] text-[#15192C]">
                            <p>{{overviewReport?.activeTerminal}}</p>
                        </div>
                    </div>
                </div>

                <div
                    class="col-span-1 flex md:justify-center p-[2rem] items-center  md:border-r border-b md:border-b-0">


                    <div class="mr-[8px] flex justify-center items-center bg-[#CEE0F3] rounded-[16px] p-[2rem]">
                        <img src="/assets/images/Swap.png" />
                    </div>
                    <div class="mr-[35px] font-[700] text-[16px] leading-[24px] text-[#92959E]">
                        <div class="">
                            <p>Active</p>
                        </div>
                        <div class="text-[20px] leading-[30px] text-[#15192C]">
                            <p>{{overviewReport?.balance}}</p>
                        </div>
                    </div>
                </div>

                <div
                    class="col-span-1 flex md:justify-center p-[2rem] items-center  md:border-r border-b md:border-b-0">

                    <div class="mr-[8px] flex justify-center items-center bg-[#CEE0F3] rounded-[16px] p-[2rem]">
                        <img src="/assets/images/Profile.png" />
                    </div>
                    <div class="mr-[35px] font-[700] text-[16px] leading-[24px] text-[#92959E]">


                        <div class="">
                            <p>Users</p>
                        </div>
                        <div class="text-[20px] leading-[30px] text-[#15192C]">
                            <p>{{overviewReport?.numberOfTerminals}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-span-1 flex md:justify-center p-[2rem] items-center">
                    <div class="mr-[8px] flex justify-center items-center bg-[#CEE0F3] rounded-[16px] p-[2rem]">
                        <img src="/assets/images/Graph.png" />
                    </div>
                    <div class="mr-[35px] font-[700] text-[16px] leading-[24px] text-[#92959E]">

                        <div class="">
                            <p>Balance</p>
                        </div>
                        <div class="text-[20px] leading-[30px] text-[#15192C]">
                            <p class="whitespace-nowrap">{{overviewReport?.numberOfUsers}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="transaction_card grid md:grid-cols-2 bg-[#fff] rounded-[10px] p-[30px]">

                <div class="col-span-1 p-[2rem]">
                    <div class="flex justify-between mb-[30px]">
                        <div class="deposit">
                            <p>Deposit</p>
                        </div>
                        <div class="">
                            <p class="text-[#9155FD]">View All</p>
                        </div>
                    </div>

                    <div class="terminal_rows" *ngFor="let deposit of deposits">
                        <div class="pos_locatn">
                            <div class="pos_img">
                                <img src="/assets/images/calc.png" />
                            </div>
                            <div class="desc">
                                <div class="desc_1">
                                    <p>{{deposit?.location}}</p>
                                </div>
                                <div class="desc_2">
                                    <p>{{deposit?.operatorName}}</p>
                                </div>
                            </div>
                            <div class="amt">
                                <p>+N{{deposit?.amount}}</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-span-1  md:border-l p-[2rem] border-t md:border-t-0">
                    <div class="flex justify-between mb-[30px]">
                        <div class="withdrawal">
                            <p>Withdraw</p>
                        </div>
                        <div class="">
                            <p class="text-[#9155FD]">View All</p>
                        </div>
                    </div>

                    <div class="terminal_rows">
                        <div class="pos_locatn">
                            <div class="pos_img">
                                <img src="/assets/images/calc.png" />
                            </div>
                            <div class="desc">
                                <div class="desc_1">
                                    <p>Unilag Terminal 2</p>
                                </div>
                                <div class="desc_2">
                                    <p>Paypal deposit</p>
                                </div>
                            </div>
                            <div class="amt">
                                <p>-N14, 500</p>
                            </div>
                        </div>

                        <div class="pos_locatn">
                            <div class="pos_img">
                                <img src="/assets/images/calc.png" />
                            </div>
                            <div class="desc">
                                <div class="desc_1">
                                    <p>Ajah Terminal 3</p>
                                </div>
                                <div class="desc_2">
                                    <p>Andrew Ogidan</p>
                                </div>
                            </div>
                            <div class="amt">
                                <p>-N187, 000</p>
                            </div>
                        </div>

                        <div class="pos_locatn">
                            <div class="pos_img">
                                <img src="/assets/images/calc.png" />
                            </div>
                            <div class="desc">
                                <div class="desc_1">
                                    <p>Ikeja Terminal 1</p>
                                </div>
                                <div class="desc_2">
                                    <p>Operation Emmanuel 2</p>
                                </div>
                            </div>
                            <div class="amt">
                                <p>-N45, 000</p>
                            </div>
                        </div>

                        <div class="pos_locatn">
                            <div class="pos_img">
                                <img src="/assets/images/calc.png" />
                            </div>
                            <div class="desc">
                                <div class="desc_1">
                                    <p>Victoria Island Terminal 4</p>
                                </div>
                                <div class="desc_2">
                                    <p>Operator Eli Agbo</p>
                                </div>
                            </div>
                            <div class="amt">
                                <p>+N5, 400</p>
                            </div>
                        </div>

                        <div class="pos_locatn">
                            <div class="pos_img">
                                <img src="/assets/images/calc.png" />
                            </div>
                            <div class="desc">
                                <div class="desc_1">
                                    <p>Unilag Terminal 1</p>
                                </div>
                                <div class="desc_2">
                                    <p>Operator Makinde Alfa</p>
                                </div>
                            </div>
                            <div class="amt">
                                <p>-N21, 400</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="operators_card flex">
            <div class="card1 flex-[0.5] rounded-[8px] p-[20px] bg-[#fff]">
                <div class="operator_row">
                   <div class="text">
                      <p>Operators</p>
                   </div>
                   <div class="edit_icon">
                      <img src="../../assets/images/Vector (13).png" />
                   </div>
                </div>
                <div class="operators_header">
                    <div class="name">
                        <p>Name</p>
                    </div>
                    <div class="profit">
                        <p>Profit</p>
                    </div>
                </div>
                <hr />
                <div class="operators_table">
                   <div class="image_icon">
                    <img src="../../assets/images/Avatar2.png" />
                   </div>
                   <div class="terminal_name">
                    <div class="name">
                       <p>Makinde Alfa</p>
                    </div>
                    <div class="terminal_loctn">
                    <p>Unilag Terminal 2</p>
                    </div>
                   </div>
                   <div class="amount">
                     <p>N135, 000</p>
                   </div>
                </div>

                <div class="operators_table">
                    <div class="image_icon">
                        <img src="../../assets/images/Avatar (1).png" />
                    </div>
                    <div class="terminal_name">
                     <div class="name">
                        <p>Makinde Alfa</p>
                     </div>
                     <div class="terminal_loctn">
                     <p>Unilag Terminal 2</p>
                     </div>
                    </div>
                    <div class="amount">
                      <p>N135, 000</p>
                    </div>
                 </div>

                 <div class="operators_table">
                    <div class="image_icon">
                        <img src="../../assets/images/Avatar1.png" />
                    </div>
                    <div class="terminal_name">
                     <div class="name">
                        <p>Makinde Alfa</p>
                     </div>
                     <div class="terminal_loctn">
                     <p>Unilag Terminal 2</p>
                     </div>
                    </div>
                    <div class="amount">
                      <p>N135, 000</p>
                    </div>
                 </div>

                 <div class="operators_table">
                    <div class="image_icon">
                     <img src="../../assets/images/Avatar (4).png" />
                    </div>
                    <div class="terminal_name">
                     <div class="name">
                        <p>Makinde Alfa</p>
                     </div>
                     <div class="terminal_loctn">
                     <p>Unilag Terminal 2</p>
                     </div>
                    </div>
                    <div class="amount">
                      <p>N135, 000</p>
                    </div>
                 </div>

                 
            </div>
            <div class="empty_card">

            </div>
        </div> -->
        </div>

        <div class="col-span-1 p-[40px] bg-[#fff] rounded-[24px] md:ml-[2rem] mt-[2rem] md:mt-0">
            <div class="activity_row">
                <div class="activity">
                    <p>Activity</p>
                </div>
                <div class="image_edit">
                    <img src="/assets/images/logo.png" />
                </div>
            </div>
            <div class="activity_line">
                <div class="activity_img">
                    <img src="/assets/images/logo.png" />
                </div>
                <div class="activity_des">
                    <div class="update">
                        <h3 class="font-[900] text-[#15192C] leading-[21px]">Trevauty Update</h3>
                    </div>
                    <div class="text">
                        <p>New Terminal was installed at Lekki Phase 2</p>
                    </div>
                </div>
            </div>
            <div class="activity_line liner">

                <div class="activity_img">
                    <img src="/assets/images/gravatar.png" />
                </div>
                <div class="activity_des">
                    <div class="update">
                        <h3 class="font-[900] text-[#15192C] leading-[21px]">Trevauty Update</h3>
                    </div>
                    <div class="text">
                        <p>New Terminal was installed at Lekki Phase 2</p>
                    </div>
                </div>
            </div>

            <div class="activity_line liner">
                <div class="activity_img">
                    <img src="/assets/images/gravatar.png" />
                </div>
                <div class="activity_des">
                    <div class="update">
                        <h3 class="font-[900] text-[#15192C] leading-[21px]">Trevauty Update</h3>
                    </div>
                    <div class="text">
                        <p>New Terminal was installed at Lekki Phase 2</p>
                    </div>
                </div>
            </div>

            <div class="activity_line liner">
                <div class="activity_img">
                    <img src="/assets/images/logo.png" />
                </div>
                <div class="activity_des">
                    <div class="update">
                        <h3 class="font-[900] text-[#15192C] leading-[21px]">Trevauty Update</h3>
                    </div>
                    <div class="text">
                        <p>New Terminal was installed at Lekki Phase 2</p>
                    </div>
                </div>

            </div>
            <div class="line_width">

            </div>
        </div>
    </div>

</div>