<div *ngIf="showModal"
class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex"
>
 <div class="relative w-auto my-6 mx-auto max-w-3xl">
   <div class="border-0 w-full rounded-lg shadow-lg relative gap-[2rem] flex flex-col  bg-white outline-none focus:outline-none">

     <div (click)="toggleModal()" class="flex justify-between py-[2rem]"><span></span> <span><img class="h-[80%]" src="/assets/images/x.png" alt=""></span></div>
     <div class="flex justify-center " ><img src="/assets/images/bubble.png" alt="come"></div>
     <div class="flex items-center flex-col md:px-[8rem]">
         <h1 class="text-[#33323D] text-[28px] font-[800] leading-[44px]">Application processing</h1>
       <p class="my-4 text-[#585454] text-center text-[21px] text-lg leading-relaxed ">
         you will be notified on the status of your application
       </p>
     </div>
     <div class="flex items-center justify-center p-6 pb-[4rem] rounded-b">
       <button class="bg-[#7B57FC] text-white font-[700] uppercase text-[20px] px-[8rem] rounded-[8.5px] py-3 shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModal()">
         Close
       </button>
     </div>
   </div>
 </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
