.body {
    // width: calc(100% - 25.5625rem);
    // height: 100vh;
    margin-left: 25.5625rem;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all .5s ease;
    background: #f4f7fa;
    padding: 3rem;
    // margin-top:7vh;
}

.body-trimmed {
    width: calc(100% - 25.5625rem);
    // width: 9rem;

    margin-left: 25.5625rem;
}

.body-md-screen {
    width: calc(100% - 25.5625rem);
    margin-left: 25.5625rem;
}
.defaultStyle{
    margin-left: 25.5625rem;
    width: calc(100% - 25.5625rem);
}
.init{
    margin-left: 25rem;
}
.final{
    margin-left: 9rem;
    // width: calc(100% - 25.5625rem);
    // background: red;

}

@media screen and (max-width:768px){

    .body {
    padding: 0rem;
}
}