<!-- <div class="grid grid-cols-1 md:grid-cols-2 bg-white relative h-[100vh]">
    <div class="py-[1rem] p-[1rem] md:px-[2rem] w-full flex justify-center">
        <div class="flex justify-between flex-col w-[80%] md:w-[50%]">
            <div class="text-[#A3AED0]">Back to sign in</div>
            <div *ngIf="!showSuccessResponse">
                <div class="font-[DM Sans] font-[700] text-[36px] text-[#2B3674] leading-[56px]">Password Reset</div>
                <p class="text-[16px] font-[DM Sans] text-[#A3AED0] mx-0 mt-[10px] mb-[30px]">Enter your email to reset your password</p>
    
                <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit(passwordResetForm.value)">
                    <div class="w-full"
                        [ngClass]="{'has-error': !formData['email'].valid && formData['email'].touched}">
                        <label for="fname">Email*</label>
                        <div class="border-none " *ngIf="formData['email'].touched && formData['email'].errors">
                            <div class="shadow-none border-none  text-danger"
                                *ngIf="formData['email'].errors['required']">
                                The Email is required
                            </div>
                            <div class="shadow-none text-danger" *ngIf="formData['email'].errors['pattern']">
                                The Email is not valid
                            </div>
                        </div>
                        <div class="rounded-[16px] border px-[0.5rem] py-[0.8rem] flex justify-between mb-[10px]">
                            <input class=" border-none shadow-none outline-none w-[90%] p-[0.5rem]" type="text"
                                placeholder="mail@simmmple.com" name="email" formControlName="email">
                        </div>
                    </div>

                    <button type="submit"
                    class="w-full gap-2.5 text-white mx-0 my-4 pl-2 pr-[8px,] py-[10px,] p-[1.2rem] rounded-2xl border-[none] bg-[#7b57fc]">Reset</button>
                </form>
    

            </div>

            <div *ngIf="showSuccessResponse" class="grid gap-[1.5rem]">
                <div class="relative">
                        <img class="" src="/assets/images/check.png" alt="">
                </div>
                <h1>Success!</h1>
                <p>
                    {{apiResponse}}
                </p>
                <div (click)="navigateToLogin()"
                class="w-full flex justify-center gap-8 text-white mx-0 my-4 pl-2 pr-[8px,] py-[10px,] p-[1.2rem] rounded-2xl border-[none] bg-[#7b57fc]">
                    <img src="/assets/images/backArrowButton.png" alt="back arrow">
                    <span>Back to Sign In</span>
                </div>

            </div>

            <h4 class="font-[DM Sans] text-[#A3AED0] font-[500]">© 2023 Trevauty. All Rights Reserved.</h4>
        </div>

    </div>
    <div class="right md:flex max-w-full justify-center max-h-fit rounded-l-[100px] w-full relative ml-0 bg-no-repeat bg-cover bg-[url('/assets/images/Background.png')] ">
        <div class="m-auto flex flex-col justify-center items-center">
            <img src="assets/images/LOGO 3.png">
            <div class="py-[3rem] px-[5rem] mt-[100px] flex justify-center items-center flex-col text-white border border-[rgba(255,255,255,0.2)] rounded-[26.3701px]">
                <p class="text-[18px]">Learn more about Horizon UI on</p>
                <h3 class="text-[29px] font-[700]">trevauty.com</h3>
            </div>
        </div>

        <footer class="absolute bottom-[20px] m-auto left-[8%] text-[#fff] w-full flex mx-[100px] mt-[300px] mb-0">
            <ul class="list-none flex">
                <li class="m-[15px]">Marketplace</li>
                <li class="m-[15px]">License</li>
                <li class="m-[15px]">Term of use</li>
                <li class="m-[15px]">Blog</li>
            </ul>
        </footer>
    </div>
</div> -->







<!-- 


    <nav class="h-[2vh] bg-[#fff]  flex justify-end px-[5rem] border-b">
        <div class="flex items-center gap-8">
            <div>
                <img src="/assets/images/shape.png" alt="">
            </div>
            <div>
                <img src="/assets/images/shape (1).png" alt="">
            </div>
            <div>
                <img src="/assets/images/avatar.png" alt="">
            </div>
            <div>
                <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown"
                    class="text-white bg-[red] hover:bg-[red] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                    type="button">Dropdown button 
                    <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none"
                        stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </button>
                <div id="dropdown"
                    class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign
                                out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </nav> -->











    <div class="h-fit md:h-[100vh] bg-[#f9f9f9] md:bg-[#fff]">
        <div class="pt-[3rem] hide-desktop">
            <img class="h-[40px] mt-[-5px] ml-[1rem]" src="/assets/images/LOGO 1.png" alt="">
        </div>
    
    
        <div class="grid grid-cols-1 md:grid-cols-2 gap-[3rem] bg-[f9f9f9] relative  m-auto md:h-full">
            <div class="grid desktop md:hidden h-fit">
                <div class="flex justify-center h-[300px]">
                    <img class="h-[100%] md:h-[50%]" src="assets/images/OBJECTS.png">
                                          
                </div>
                <span class="text-center font-[NUNITO] font-[700] text-[20px]">Login to your account</span>
                <span class="flex justify-center items-center mt-[1rem]">
                    <span class="text-center font-[NUNITO-LIGHT'] ">Securely login to</span>
                    <img class="h-[18px] mt-[-5px] ml-[1rem]" src="/assets/images/LOGO 5 (1).png" alt="">
                </span>
    
    
    
            </div>
            <div class=" h-fit md:h-[100%] px-[1rem] md:px-[2rem] md:w-full flex justify-center bg-[#fff] rounded-[4px] md:bg-transparent w-[90%] m-auto py-[2rem] ">
                <div class="m-auto flex justify-between flex-col md:w-[50%] w-full">
                    <div class="md:mb-[15rem]">
                        <div class="my-[2rem] mobile">
    
                            <div class="font-[DM Sans] font-[700] text-[24px] text-[#000] leading-[20px]">Forgot your password?</div>
                            <span class="flex items-center mt-[1rem]">
                                <span class="text-center font-[NUNITO-LIGHT'] text-[#444444]">Please enter the email you use to register the account</span>
                                <!-- <img class="h-[18px] mt-[-5px] ml-[1rem]" src="/assets/images/LOGO 5 (1).png" alt=""> -->
                            </span>
                        </div>
    
    
                        <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit(passwordResetForm.value)">
                            <div class="w-full"
                                [ngClass]="{'has-error': !formData['email'].valid && formData['email'].touched}">
                                <label for="fname">Email*</label>
                                <div class="border-none " *ngIf="formData['email'].touched && formData['email'].errors">
                                    <div class="shadow-none border-none  text-danger"
                                        *ngIf="formData['email'].errors['required']">
                                        The Email is required
                                    </div>
                                    <div class="shadow-none text-danger" *ngIf="formData['email'].errors['pattern']">
                                        The Email is not valid
                                    </div>
                                </div>
                                <div class="rounded-[8px] border px-[0.5rem] py-[0.8rem] flex justify-between mb-[10px]">
                                    <input class=" border-none shadow-none outline-none w-[90%] p-[0.5rem]" type="text"
                                        placeholder="mail@simmmple.com" name="email" formControlName="email">
                                </div>
                            </div>
        
                            <button type="submit"
                            class="w-full gap-2.5 text-white mx-0 my-4 pl-2 pr-[8px,] py-[15px] p-[1.2rem] rounded-[4px] border-[none] bg-[#7b57fc]">Send password reset link</button>
                        </form>
    
                    </div>
                </div>
            </div>
    
            <div class="mobile">
                <div class="">
                    <img src="assets/images/OBJECTS.png">
                </div>
    
            </div>
        </div>
    
    </div>
    