

.hide-desktop {
    display: none;

}

.desktop {
    display: hidden;
}

.enabled-button {
    background-color: green;
    color: white;
}

.disabled-button {
    cursor: not-allowed;
  }

.green-background {
    background-color: green;
}


@media screen and (max-width: 800px) {
    div {
        // background-color: red;
    }

    .right {
        display: none;
    }

    .mobile {
        display: none;

    }

    .hide-desktop {
        display: grid;

    }
}



