<div class="wrapper">
    <div class="left">
        <div class="leftComponent">
            <div class="header">Back to sign in</div>
            <div>
                <div class="title">Password Reset</div>
                <p class="sub-title">Enter your email to reset your password</p>
    
                <form>
                    <div class="inputWrapper">
                        <label for="pnumber">Email*</label>
                        <div>
                            <input type="text" placeholder="abc@example.com" id="email" name="email">
                        </div>
                    </div>
                    <button>Reset</button>
                </form>
    

            </div>

            <h4 class="reserved">© 2023 Trevauty. All Rights Reserved.</h4>
        </div>

    </div>
    <div class="right flex">
        <div class="rightComponent">
            <img src="assets/images/LOGO 3.png">
            <div class="boxing">
                <p>Learn more about Horizon UI on</p>
                <h3>trevauty.com</h3>
            </div>
        </div>

        <footer>
            <ul>
                <li>Marketplace</li>
                <li>License</li>
                <li>Term of use</li>
                <li>Blog</li>
            </ul>
        </footer>
    </div>
</div>




<!-- navbar -->




<!-- <div class="h-[90vh] bg-[#f1f1f1]"> -->
    <nav class="h-[2vh] bg-[#fff]  flex justify-end px-[5rem] border-b">
        <div class="flex items-center gap-8">
            <div>
                <img src="/assets/images/shape.png" alt="">
            </div>
            <div>
                <img src="/assets/images/shape (1).png" alt="">
            </div>
            <div>
                <img src="/assets/images/avatar.png" alt="">
            </div>
            <div>
                <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown"
                    class="text-white bg-[red] hover:bg-[red] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                    type="button">Dropdown button 
                    <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none"
                        stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </button>
                <div id="dropdown"
                    class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign
                                out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </nav>
<!-- </div> -->