<div class="h-fit md:h-[100vh] bg-[#f9f9f9] md:bg-[#fff]">
    
    <div class="pt-[3rem] hide-desktop">
        <img class="h-[40px] mt-[-5px] ml-[1rem]" src="/assets/images/LOGO 1.png" alt="">
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-[3rem] bg-[f9f9f9] relative  m-auto md:h-full">
        <div class="grid desktop md:hidden h-fit">
            <div class="flex justify-center h-[300px]">
                <img class="h-[100%] md:h-[50%]" src="assets/images/OBJECTS.png">
                                      
            </div>
            <span class="text-center font-[NUNITO] font-[700] text-[20px]">Reset password</span>
            <span class="flex justify-center items-center mt-[1rem]">
                <span class="text-center font-[NUNITO-LIGHT'] ">Confirm your password</span>
            </span>



        </div>
        <div class=" h-fit md:h-[100%] px-[1rem] md:px-[2rem] md:w-full flex justify-center bg-[#fff] rounded-[4px] md:bg-transparent w-[90%] m-auto py-[2rem] ">
            <div class="m-auto flex justify-between flex-col md:w-[50%] w-full">
                <div class="md:mb-[15rem]">
                    <div class="my-[2rem] mobile">

                        <div class="font-[DM Sans] font-[700] text-[24px] text-[#000] leading-[20px]">Reset password</div>
                        <span class="flex items-center mt-[1rem]">
                            <span class="text-center font-[NUNITO-LIGHT'] ">Confirm your password</span>
                        </span>
                    </div>


                    <form class="text-[#000] uppercase text-[12px] font-[NUNITO-LIGHT] font-[100]"
                        [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)">

                    
                        <div class="w-full"
                            [ngClass]="{'has-error': !formData['password'].valid && formData['password'].touched}">
                            <label class="text-[#555555] text-[10px] font-[NUNITO-LIGHT]"
                                for="password">Password*</label>
                            <div class="border-none "
                                *ngIf="formData['password'].touched && formData['password'].errors">
                                <div class="shadow-none border-none  text-danger"
                                    *ngIf="formData['password'].errors['required']">
                                    The Password is required
                                </div>
                                <div class="shadow-none text-danger" *ngIf="formData['password'].errors['pattern']">

                                    The Password is not valid
                                </div>
                            </div>
                            <div
                                class="rounded-[8px] border px-[1rem] py-[0.8rem] flex justify-between items-center mb-[10px]">
                                <input class=" border-none shadow-none outline-none w-[90%] p-[0.5rem]"
                                    [type]="password" placeholder="mail@simmmple.com" name="password"
                                    formControlName="password">
                                <!-- <img (click)="toggleShowPassword()" src="/assets/images/eye.png"> -->
                            </div>
                        </div>

                        <div class="w-full "
                        [ngClass]="{'has-error': !formData['confirmPassword'].valid && formData['confirmPassword'].touched}">
                        <label class="text-[#555555] text-[10px] font-[NUNITO-LIGHT]" for="fname">Confirm Password*</label>
                        <div class="border-none " *ngIf="formData['confirmPassword'].touched && formData['confirmPassword'].errors">
                            <div class="shadow-none border-none  text-danger"
                                *ngIf="formData['confirmPassword'].errors['required']">
                                Password is required
                            </div>
                            <div class="shadow-none text-danger" *ngIf="formData['confirmPassword'].errors['pattern']">
                                Password is not valid, Alphabets not allowed
                            </div>
                        </div>
                        <div class="rounded-[8px] border px-[1rem] py-[0.8rem] flex justify-between mb-[10px]">
                            <input class=" border-none shadow-none outline-none w-[90%] p-[0.5rem]" type="text"
                                placeholder="********" name="confirmPassword" formControlName="confirmPassword">
                        </div>
                    </div>


                        <button type="submit" [disabled]="authForm.invalid"
                            [ngClass]="authForm.invalid ? 'disabled-button': 'enabled-button' "
                            class="w-full gap-2.5 text-white mx-0 my-4 pl-2 pr-[8px,] py-[10px,] p-[1.2rem] rounded-[8px] border-[none] bg-[#beaffb]"
                            >Create
                            an Account</button>

                        <div class="form-check m-auto capitalize justify-center flex gap-[1rem] items-center">
                            <span class="text-[#333333]">Don't have an account?</span>
                            <span class="text-[#7B57FC]">Sign Up</span>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="mobile">
            <div class="">
                <img src="assets/images/OBJECTS.png">
            </div>

        </div>
    </div>

</div>






<div *ngIf="showModal"
    class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative w-[80%] my-6 mx-auto max-w-3xl">
        <div
            class="border-0 rounded-[20px] shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
            <div class="grid place-items-center items-center p-[4rem] w-[90%] m-auto">
                <div class="flex justify-end w-full border-b absolute top-[1rem] p-[1rem]">
                    <span class="cursor-pointer border rounded-[100%] p-[0.2rem]" (click)="toggleModal()"><img class="h-[20px] w-[20px]" src="/assets/images/x.png" alt=""></span>
                </div>
                <div class="py-[2rem] grid gap-[1rem] mt-[2rem]">
                    <div class="text-center text-[18px] font-[600] leading-[30px]">Password Changed!</div>
                    <div class="text-center text-[12px]">Your password has been changed successfully</div>
                </div>
                <div class="w-full grid gap-[1rem] mt-[1rem] items-center place-items-center">

                    
                    <div class="flex w-full">
                        <button class="bg-[#7B57FC] text-[#fff] w-[50%] py-[1rem] rounded-[1rem] m-auto">Okay</button>
                    </div>
                </div>

            </div>
            <div class="flex items-center justify-end p-6 rounded-b">
            </div>
        </div>
    </div>
</div>

<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
