

<!-- <app-signup></app-signup> -->
<!-- <app-singin></app-singin> -->
<div class="grid grid-cols-6">
    <div class="bg-[#F5F4F7]">
        <app-sidenav></app-sidenav>


    </div>
    <div class="col-span-5">
<app-passwordreset></app-passwordreset>

        <app-overview></app-overview>

    </div>
</div>

<!-- <app-signup></app-signup>
<app-singin></app-singin> -->
<!-- <app-passwordreset></app-passwordreset> -->
<app-overview></app-overview>
<app-analytic></app-analytic>






<router-outlet></router-outlet>
