<!-- 

<app-signup></app-signup>
<app-singin></app-singin>
<div class="grid grid-cols-6">
    <div class="bg-[#F5F4F7]">
        <app-sidenav></app-sidenav>


    </div>
    <div class="col-span-5">
<app-passwordreset></app-passwordreset>

        <app-overview></app-overview>

    </div>
</div>

<app-signup></app-signup>
<app-singin></app-singin>
<app-passwordreset></app-passwordreset>
<app-overview></app-overview>
<app-analytic></app-analytic> -->


<app-inventorymanagement></app-inventorymanagement>

<!-- <app-navbar></app-navbar>

<router-outlet></router-outlet>

<app-footer></app-footer> -->






<!-- // at initiate request put @Valid must accept positive amount
//  Payment instruction put @nonnull, must be positive
// create a request type by calling the endpoint in organizationService from postman -->


 <!-- fixed 
 1. UI
 2. works you need some data in the table to move to the next page
 3. thats a skeleton loader
 4. Oyinlola, Kindy text.
 5. copy function fixed.
 6. fixed
 7. fixed
 8. fixed
 9. progress
 10.fixed
 11. fixed
 12. fixed
 13. fixed
 14. fixed
 15. fixed
 16. fixed
 17. fixed
 18. fixed
 19. fixed
 19 a. fixed
 19 b. NKem Kindly Review
 20. In Review
 21. In Review

 22. 
 23. fixed
 24. fixed
 25. fixed
 26. fixed
 27. fixed 
 28. in review 
 29. in review 
 30. Nkem Kindly Review
 31. Fixed.
 32. Fixed.
 33. In review
 34. In review 
 35. fixed
 36. Fixed
 37. In review
 38. Fixed
 39. fixed
 40. In Fixed
 41. fixed.
 42. fixed
 43. In review
 44. Nkem Kindly review
 45. Nkem Kindly review
 46. fixed
 47. fixed. -->
 

