<div class="w-full" [ngClass]="{'has-error': !formData['lastName'].valid && formData['lastName'].touched}">
    <label for="fname">Full Name*</label>
    <div class="border-none " *ngIf="formData['lastName'].touched && formData['lastName'].errors">
        <div class="shadow-none border-none  text-danger" *ngIf="formData['lastName'].errors['required']">
            The Full Name is required
        </div>
        <div class="shadow-none text-danger" *ngIf="formData['lastName'].errors['pattern']">
            The Name is not valid, Numeric data not allowed
        </div>
    </div>
    <div class="rounded-[16px] border px-[0.5rem] py-[0.8rem] flex justify-between mb-[10px]">
        <input class=" border-none shadow-none outline-none w-[90%] p-[0.5rem]" type="text"
            placeholder="mail@simmmple.com" name="lastName" formControlName="lastName">
    </div>
</div>
