<div class="wrapper">
    <div class="left">
        <div class="leftComponent">
            <div class="header">Back to sign in</div>
            <div>
                <div class="title">Registration</div>
                <p class="sub-title">New to Trevauty, register below</p>
                <div class="top">`
                    <div class="logo">
                        <img src="assets/images/google.jpg">
                        <h4>Sign up with google</h4>
                    </div>
                </div>
                <div class="horizontal-line-container">
                    <hr class="horizontal-line">
                    <span class="or">Or</span>
                    <hr class="horizontal-line">
                </div>
                <form>
                    <div class="inputWrapper">
                        <label for="fname">Full Name*</label>
                        <div>
                            <input type="text" placeholder="mail@simmmple.com" id="fname" name="fname">
                        </div>
                    </div>
                    <div class="inputWrapper">
                        <label for="pnumber">Phone Number*</label>
                        <div>
                            <input type="text" placeholder="+2341234567890" id="pnumber" name="Phone Number">
                        </div>
                    </div>
                    <div class="inputWrapper">
                        <label for="pssword">Password*</label>
                        <div>
                            <input type="text" placeholder="Min. 8 characters" id="pssword" name="password">
                            <img
                                src="assets/images/Vector.png">
                        </div>
                    </div>
                    <div class="inputWrapper">
                        <label for="confirm">Confirm Password*</label>
                        <div>
                            <input type="text" placeholder="Min. 8 characters" id="confirm" name="Confirm Password"><img
                                src="assets/images/Vector.png">
                        </div>
                    </div>
                    <div class="checking">
                        <input type="checkbox" class="checkbox" name="checkbox" checked />
                        <label for="checking" class="label">I agree with the term of use</label>
                        <label for="using" class="terms">Terms of use</label>
                    </div>
                    <button>Sign Up</button>
                </form>
                <p class="sign-in">Have an account?<a href="#" class="sign"> Sign in</a></p>
            </div>
            <h4 class="reserved">© 2023 Trevauty. All Rights Reserved.</h4>
        </div>
    </div>
    <div class="right flex">
        <div class="rightComponent">
            <img src="assets/images/LOGO 3.png">
            <div class="boxing">
                <p>Learn more about Horizon UI on</p>
                <h3>trevauty.com</h3>
            </div>
        </div>
        <footer>
            <ul>
                <li>Marketplace</li>
                <li>License</li>
                <li>Term of use</li>
                <li>Blog</li>
            </ul>
        </footer>
    </div>
</div>