<div class="grid grid-cols-1 md:grid-cols-2 bg-white relative h-[100vh]">
    <div class="py-[1rem] p-[1rem] md:px-[2rem] w-full flex justify-center">
        <div class="flex justify-between flex-col w-[80%] md:w-[50%]">
            <div>
               
                <div class="font-[DM Sans] font-[700] text-[30px] text-[#000] leading-[56px]">Sign Up</div>


                <form class="text-[#000] uppercase text-[12px] font-[NUNITO-LIGHT] font-[100]" [formGroup]="myform" (ngSubmit)="onSubmit(myform.value)">

                    <div class="grid md:grid-cols-2 gap-[2rem]">
                        <div class="w-full"
                            [ngClass]="{'has-error': !formData['firstName'].valid && formData['firstName'].touched}">
                            <label for="fname">First Name*</label>
                            <div class="border-none "
                                *ngIf="formData['firstName'].touched && formData['firstName'].errors">
                                <div class="shadow-none border-none  text-danger"
                                    *ngIf="formData['firstName'].errors['required']">
                                    First Name is required
                                </div>
                                <div class="shadow-none text-danger" *ngIf="formData['firstName'].errors['pattern']">
                                    First Name is not valid, Numeric data not allowed
                                </div>
                            </div>
                            <div class="rounded-[100px] border px-[1rem] py-[0.8rem] flex justify-between mb-[10px]">
                                <input class=" border-none shadow-none outline-none w-[90%] p-[0.5rem]" type="text"
                                    placeholder="First name" name="firstName" formControlName="firstName">
                            </div>
                        </div>


                        <div class="w-full"
                            [ngClass]="{'has-error': !formData['lastName'].valid && formData['lastName'].touched}">
                            <label for="fname">Last Name*</label>
                            <div class="border-none "
                                *ngIf="formData['lastName'].touched && formData['lastName'].errors">
                                <div class="shadow-none border-none  text-danger"
                                    *ngIf="formData['lastName'].errors['required']">
                                    Last Name is required
                                </div>
                                <div class="shadow-none text-danger" *ngIf="formData['lastName'].errors['pattern']">
                                    Last Name is not valid, Numeric data not allowed
                                </div>
                            </div>
                            <div class="rounded-[100px] border px-[1rem] py-[0.8rem] flex justify-between mb-[10px]">
                                <input class=" border-none shadow-none outline-none w-[90%] p-[0.5rem]" type="text"
                                    placeholder="Last Name" name="lastName" formControlName="lastName">
                            </div>
                        </div>

                    </div>

<!-- businaess type starts -->


                    <div class="w-full "
                    [ngClass]="{'has-error': !formData['email'].valid && formData['email'].touched}">
                    <label for="fname">BUSINESS Type*</label>
                    <div class="border-none " *ngIf="formData['email'].touched && formData['email'].errors">
                        <div class="shadow-none border-none  text-danger"
                            *ngIf="formData['email'].errors['required']">
                            BUSINESS Type is required
                        </div>
                        <div class="shadow-none text-danger" *ngIf="formData['email'].errors['pattern']">
                            BUSINESS Type is not valid, Alphabets not allowed
                        </div>
                    </div>
                    <div class="rounded-[100px] border px-[1rem] py-[0.8rem] flex justify-between mb-[10px]">
                        <input class=" border-none shadow-none outline-none w-[90%] p-[0.5rem]" type="text"
                            placeholder="BUSINESS Type" name="email" formControlName="email">
                    </div>
                </div>


<!-- businaess type starts -->



                    <div class="w-full "
                        [ngClass]="{'has-error': !formData['email'].valid && formData['email'].touched}">
                        <label for="fname">Email*</label>
                        <div class="border-none " *ngIf="formData['email'].touched && formData['email'].errors">
                            <div class="shadow-none border-none  text-danger"
                                *ngIf="formData['email'].errors['required']">
                                Email is required
                            </div>
                            <div class="shadow-none text-danger" *ngIf="formData['email'].errors['pattern']">
                                Email is not valid, Alphabets not allowed
                            </div>
                        </div>
                        <div class="rounded-[100px] border px-[1rem] py-[0.8rem] flex justify-between mb-[10px]">
                            <input class=" border-none shadow-none outline-none w-[90%] p-[0.5rem]" type="text"
                                placeholder="mail@simmmple.com" name="email" formControlName="email">
                        </div>
                    </div>

<!-- Location starts-->


                    <div class="w-full "
                        [ngClass]="{'has-error': !formData['phoneNumber'].valid && formData['phoneNumber'].touched}">
                        <label for="fname">Location*</label>
                        <div class="border-none "
                            *ngIf="formData['phoneNumber'].touched && formData['phoneNumber'].errors">
                            <div class="shadow-none border-none  text-danger"
                                *ngIf="formData['phoneNumber'].errors['required']">
                                Location is required
                            </div>
                            <div class="shadow-none text-danger" *ngIf="formData['phoneNumber'].errors['pattern']">

                                Location is not valid, Alphabets not allowed
                            </div>
                        </div>
                        <div class="rounded-[100px] border px-[1rem] py-[0.8rem] flex justify-between mb-[10px]">
                            <input class=" border-none shadow-none outline-none w-[90%] p-[0.5rem]" type="text"
                                placeholder="Location" name="phoneNumber" formControlName="phoneNumber">
                        </div>
                    </div>

<!-- Request for POS ends-->


<!-- Request for POS starts-->

                    <div class="w-full "
                    [ngClass]="{'has-error': !formData['phoneNumber'].valid && formData['phoneNumber'].touched}">
                    <label for="fname">Request for POS*</label>
                    <div class="border-none "
                        *ngIf="formData['phoneNumber'].touched && formData['phoneNumber'].errors">
                        <div class="shadow-none border-none  text-danger"
                            *ngIf="formData['phoneNumber'].errors['required']">
                            Request for POS is required
                        </div>
                        <div class="shadow-none text-danger" *ngIf="formData['phoneNumber'].errors['pattern']">

                            Request for POS is not valid, Alphabets not allowed
                        </div>
                    </div>
                    <div class="rounded-[100px] border px-[1rem] py-[0.8rem] flex justify-between mb-[10px]">
                        <input class=" border-none shadow-none outline-none w-[90%] p-[0.5rem]" type="text"
                            placeholder="Request for POS" name="phoneNumber" formControlName="phoneNumber">
                    </div>
                </div>

<!-- Request for POS ends-->


                    <div class="w-full"
                        [ngClass]="{'has-error': !formData['password'].valid && formData['password'].touched}">
                        <label for="password">Password*</label>
                        <div class="border-none " *ngIf="formData['password'].touched && formData['password'].errors">
                            <div class="shadow-none border-none  text-danger"
                                *ngIf="formData['password'].errors['required']">
                                The Password is required
                            </div>
                            <div class="shadow-none text-danger" *ngIf="formData['password'].errors['pattern']">

                                The Password is not valid
                            </div>
                        </div>
                        <div
                            class="rounded-[100px] border px-[1rem] py-[0.8rem] flex justify-between items-center mb-[10px]">
                            <input class=" border-none shadow-none outline-none w-[90%] p-[0.5rem]" [type]="password"
                                placeholder="mail@simmmple.com" name="password" formControlName="password">
                            <!-- <img (click)="toggleShowPassword()" src="/assets/images/eye.png"> -->
                        </div>
                    </div>


                    <div class="w-full"
                        [ngClass]="{'has-error': !formData['password'].valid && formData['password'].touched}">
                        <label for="password">Confirm Password*</label>
                        <div class="border-none " *ngIf="formData['password'].touched && formData['password'].errors">
                            <div class="shadow-none border-none  text-danger"
                                *ngIf="formData['password'].errors['required']">
                                The Password is required
                            </div>
                            <div class="shadow-none text-danger" *ngIf="formData['password'].errors['pattern']">
                                The Password is not valid
                            </div>
                        </div>
                        <div
                            class="rounded-[100px] border px-[1rem] py-[0.8rem] flex justify-between items-center mb-[10px]">
                            <input class=" border-none shadow-none outline-none w-[90%] p-[0.5rem]"
                                [type]="confirmPassword" placeholder="***********" name="password"
                                formControlName="password">
                            <!-- <img (click)="toggleShowConfirmPassword()" src="/assets/images/eye.png"> -->
                        </div>
                    </div>

                    <div class="form-group"
                        [ngClass]="{'has-error': !formData['agreeWithTermsAndCondition'].valid && formData['agreeWithTermsAndCondition'].touched}">
                        <div *ngIf="formData['agreeWithTermsAndCondition'].touched && formData['agreeWithTermsAndCondition'].errors"
                            style="margin-top:10px">
                            <div class="text-danger" *ngIf="formData['agreeWithTermsAndCondition'].errors['required']">
                                The Check option is required
                            </div>
                        </div>
                        <div class="form-check flex gap-[2rem] items-center">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="agreeWithTermsAndCondition"
                                    formControlName="agreeWithTermsAndCondition">
                                <span class="ml-[1rem] font-[200] lowercase text-[12px] font-[100] font-[NUNITO-LIGHT]">I acknowledge that I have read and do hereby accept the terms and conditions in Trevauty Agreement and agree to receive valuable emails from Trevauty. 
                                </span>

                            </label>
                        </div>

                    </div>
                    <button type="submit"
                        class="w-full gap-2.5 text-white mx-0 my-4 pl-2 pr-[8px,] py-[10px,] p-[1.2rem] rounded-[100px] border-[none] bg-[#7b57fc]">Create an Account</button>
                </form>
                <div class="flex justify-center">
                    <p class="font-[DM Sans] text-[#707EAE] py-[1rem]">Have an account?<a href="#"
                        class="font-[700] text-[#4318FF] no-underline text-right"> Sign in</a>
                </p>
                </div>
            </div>
        </div>
    </div>

    <div
        class="grid desktop">
        <div class="">
            <img src="assets/images/OBJECTS.png">

        </div>

    </div>
</div>