<div class="bg-[#F5F4F7] h-fit md:p-[2rem] p-[2rem]">
    <div class="flex justify-between items-center mb-[5rem]">
        <div class="flex justify-between items-center w-[100%]">
            <div class="">
                <h2 class="text-[#15192C] font-[600] text-[27px] leading-[33px]">Analysis Overview</h2>
            </div>
            <div class="flex justify-center gap-2 items-center bg-[#fff] p-[1rem] rounded-[8px]">
                <div class="flex justify-center h-[20px]">
                    <img class="h-[100%]" src="/assets/images/download.png" alt="">
                </div>
                <span class="text-[#7B57FC]">
                    Export
                </span>
            </div>
        </div>
    </div>


    <div class="flex items-center justify-between pb-4 ">
        <div class="w-[100%] md:flex gap-[2rem] justify-between items-center py-[2rem]">

            <div class="md:w-[50%] w-[100%] flex items-center">
                <div class="w-[100%] grid md:grid-cols-10 grid-cols-1 gap-[2rem]">
                    <div class="md:col-span-2 col-span-1  p-[1rem] py-[0.5rem] bg-[#fff] rounded-[8px]">
                        <input id="countries" type="date" placeholder="hello"
                            class="bg-[#fff] outline-none text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">

                    </div>
                    <div class="md:col-span-2 col-span-1 p-[1rem] py-[0.5rem] bg-[#fff] rounded-[8px]">
                        <select id="countries"
                            class=" outline-none text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                            <option selected>
                                <div><img src="/assets/images/flag.png" alt=""></div>
                                <span>Date Range</span>
                            </option>
                            <option value="US">Success</option>
                            <option value="CA">Failure</option>
                            <option value="FR">Pending</option>
                        </select>
                    </div>
                    <div class="md:col-span-3 col-span-1 p-[1rem] py-[0.5rem] bg-[#fff] rounded-[8px]">
                        <select id="countries"
                            class="outline-none text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
                            <option selected>Paystack</option>
                            <option value="US">Remiter</option>
                            <option value="CA">Interswitch</option>
                            <option value="FR">Flutterwave</option>
                        </select>
                    </div>
                    <div class="md:col-span-3 col-span-1 p-[1rem] py-[0.5rem] bg-[#fff] rounded-[8px]">
                        <select id="countries"
                            class="outline-none text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
                            <option selected>Status</option>
                            <option value="US">All</option>
                            <option value="CA">Succeded</option>
                            <option value="FR">Refunded</option>
                        </select>
                    </div>
                   
                </div>
            </div>

            <div
                class="bg-[#FBFBFB]  rounded-[8px] gap-[1rem] flex p-[1rem] py-[0.5rem] md:w-[30%] w-[100%] md:mt-[0] mt-[1rem]">
                <div class="flex justify-center items-center">
                    <img src="/assets/images/inputSearch.png" alt="">
                </div>
                <input type="text" id="table-search"
                    class="block p-2 w-[90%] bg-[#FBFBFB] text-gray-900 outline-none  rounded-lg focus:ring-blue-500 focus:border-blue-500"
                    placeholder="Search by amount , payment method...">
            </div>
        </div>

    </div>



    <!-- Table =============== -->
    <div class="relative overflow-x-auto sm:rounded-lg">

        <table class="w-full text-[14px] leading-[150%] text-[#4B5563] text-left ">
            <thead
                class="text-[14px] italic font-[100]  text-[#374151] uppercase bg-[#fff]">
                <tr class="border-b">
                    <th scope="col" class="p-[2rem]">
                        <div class="flex items-center">
                            <input id="checkbox-all-search" type="checkbox"
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="checkbox-all-search" class="sr-only">Payment ID</label>
                        </div>
                    </th>
                    <th scope="col" class="p-[2rem]">
                        Invoice Number
                    </th>
                    <th scope="col" class="p-[2rem]">
                        Customer Name
                    </th>
                    <th scope="col" class="p-[2rem]">
                        Date
                    </th>
                    <th scope="col" class="p-[2rem]">
                        
                        Amount
                    </th>
                    <th scope="col" class="p-[2rem]">
                        Email
                    </th>
                    <th scope="col" class="p-[2rem]">
                        ProductId
                    </th>
                    <th scope="col" class="p-[2rem]">
                        Status
                    </th>
                    <th scope="col" class="p-[2rem]">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let terminal of data"
                    class="border-separate border-0 bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td class="w-4 p-[2rem]">
                        <div class="flex items-center">
                            <input id="checkbox-table-search-3" type="checkbox"
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="checkbox-table-search-3" class="sr-only">checkbox</label>
                        </div>
                    </td>

                    <td class="p-[2rem]  ">
                        {{terminal.invoiceNumber}}
                    </td>
                    <td class="p-[2rem]">
                        {{terminal.customerName}}
                    </td>
                    <td class="p-[2rem]">
                        {{terminal.date}}
                    </td>
                    <td class="p-[2rem]">
                        NGN{{terminal.amount}}
                    </td>
                    <td class="p-[2rem]">
                        {{terminal.email}}
                    </td>
                    <td class="p-[2rem]">
                        {{terminal.productId}}
                    </td>

                    <td class="p-[1rem]">

                        <div *ngIf="terminal.status === 'created' "
                            class="bg-[#EAECFF] p-[1rem] py-[0.5rem] flex items-center justify-center w-[120px] gap-[1rem] rounded-[4px]">
                            <div>
                                <img src="/assets/images/create.png" alt="">
                            </div>
                            <span class="text-[#3D42AD]">Created</span>
                        </div>

                        <div *ngIf="terminal.status === 'pending' "
                            class="bg-[#fee0b5] p-[1rem] py-[0.5rem] flex items-center justify-center w-[120px] gap-[1rem] rounded-[4px]">
                            <div>
                                <img src="/assets/images/pending.png" alt="">
                            </div>
                            <span class="text-[#B5850B]">Pending</span>
                        </div>

                        <div *ngIf="terminal.status === 'succeded' "
                            class="bg-[#EDFFEA] p-[1rem] py-[0.5rem] flex items-center justify-center w-[120px] gap-[1rem] rounded-[4px]">
                            <div>
                                <img src="/assets/images/success.png" alt="">
                            </div>
                            <span class="text-[#165E3D]">Succeded</span>
                        </div>

                        <div *ngIf="terminal.status === 'rejected' "
                            class="bg-[#FFEAEA] p-[1rem] py-[0.5rem] flex items-center justify-center w-[120px] gap-[1rem] rounded-[4px]">
                            <div>
                                <img src="/assets/images/declined.png" alt="">
                            </div>
                            <span class="text-[#B83131]">Rejected</span>
                        </div>
                    </td>
                    <td class="p-[2rem]">
                    </td>
                </tr>

            </tbody>
        </table>
        <div class="mt-[4rem] bg-[#fff] flex justify-between p-[1rem] px-[2rem]">
            <div>
                <span> {{size}} Result</span>
            </div>
            <div class="flex justify-end gap-[2rem] md:mr-[20rem]">
                <div (click)="pageIncrement()" class="p-[1rem] py-[0.5rem] border rounded-[4px]">
                    Previous
                </div>
                <div (click)="pageDecrement()" class="p-[1rem] py-[0.5rem] border rounded-[4px]">
                    Next
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 
        Todo
        1. create an orguser and create an org under him *
        2. activate the org, only authorized by OAGF Admin.*
     -->

<!-- Requirements 
        1. OAGF should receive a mail about the organization with a list of all the unactivated org *
        2. all users under the org should get a mail with verification token
        3. the user should change their password and login
    -->

<!-- 
        endpoint when an org is registered, an OAGF admin should get the mail. #
        the mail should contain the org Name. #
        the mail should have the link to all unactivated organization list.
        only OAGF admin should activate an org. #
        when an org gets activated all the users should get a mail that they have been activated and they should be able to log in. #
        immediately without the verification code.
        when a user registers he should not get a mail for verification until his org gets activated.
        and he should be able to login immediately
     -->

<!-- 
        receipt
        display multiple items
        display custom fields.
        change the description to desc instead of service type
      -->