<!-- <div class="bg-[#F5F4F7] h-fit md:p-[2rem] p-[2rem]">
    <div class="flex justify-between items-center mb-[5rem]">
        <div class="flex justify-between items-center w-[100%]">
            <div class="">
                <h2 class="text-[#15192C] font-[600] text-[27px] leading-[33px]">Receipt History</h2>
            </div>
            <div class="flex justify-center gap-2 items-center bg-[#fff] p-[1rem] rounded-[8px]">
                <div class="flex justify-center h-[20px]">
                    <img class="h-[100%]" src="/assets/images/download.png" alt="">
                </div>
                <span class="text-[#7B57FC]">
                    Export
                </span>
            </div>
        </div>
    </div>


    <div class="flex items-center justify-between pb-4 ">
        <div class="w-[100%] md:flex gap-[2rem] justify-between items-center py-[2rem]">

            <div class="md:w-[50%] w-[100%] flex items-center">
                <div class="w-[100%] grid md:grid-cols-10 grid-cols-1 gap-[2rem]">
                    <div class="md:col-span-2 col-span-1  p-[1rem] py-[0.5rem] bg-[#fff] rounded-[8px]">
                        <input id="countries" type="date" placeholder="hello"
                            class="bg-[#fff] outline-none text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">

                    </div>
                    <div class="md:col-span-2 col-span-1 p-[1rem] py-[0.5rem] bg-[#fff] rounded-[8px]">
                        <select id="countries"
                            class=" outline-none text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                            <option selected>
                                <div><img src="/assets/images/flag.png" alt=""></div>
                                <span>Date Range</span>
                            </option>
                            <option value="US">Success</option>
                            <option value="CA">Failure</option>
                            <option value="FR">Pending</option>
                        </select>
                    </div>
                    <div class="md:col-span-3 col-span-1 p-[1rem] py-[0.5rem] bg-[#fff] rounded-[8px]">
                        <select id="countries"
                            class="outline-none text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
                            <option selected>Paystack</option>
                            <option value="US">Remiter</option>
                            <option value="CA">Interswitch</option>
                            <option value="FR">Flutterwave</option>
                        </select>
                    </div>
                    <div class="md:col-span-3 col-span-1 p-[1rem] py-[0.5rem] bg-[#fff] rounded-[8px]">
                        <select id="countries"
                            class="outline-none text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
                            <option selected>Status</option>
                            <option value="US">All</option>
                            <option value="CA">Succeded</option>
                            <option value="FR">Refunded</option>
                        </select>
                    </div>
                   
                </div>
            </div>

            <div
                class="bg-[#FBFBFB]  rounded-[8px] gap-[1rem] flex p-[1rem] py-[0.5rem] md:w-[30%] w-[100%] md:mt-[0] mt-[1rem]">
                <div class="flex justify-center items-center">
                    <img src="/assets/images/inputSearch.png" alt="">
                </div>
                <input type="text" id="table-search"
                    class="block p-2 w-[90%] bg-[#FBFBFB] text-gray-900 outline-none  rounded-lg focus:ring-blue-500 focus:border-blue-500"
                    placeholder="Search by amount , payment method...">
            </div>
        </div>

    </div>


    <div class="relative overflow-x-auto sm:rounded-lg">

        <table class="w-full text-[14px] leading-[150%] text-[#4B5563] text-left ">
            <thead
                class="text-[14px] italic font-[100]  text-[#374151] uppercase bg-[#fff]">
                <tr class="border-b">
                    <th scope="col" class="p-[2rem]">
                        Invoice Number
                    </th>
                    <th scope="col" class="p-[2rem]">
                        Customer Name
                    </th>
                    <th scope="col" class="p-[2rem]">
                        Date
                    </th>
                    <th scope="col" class="p-[2rem]">
                        
                        Amount
                    </th>
                    <th scope="col" class="p-[2rem]">
                        Email
                    </th>
                    <th scope="col" class="p-[2rem]">
                        ProductId
                    </th>
                    <th scope="col" class="p-[2rem]">
                        Status
                    </th>
                    <th scope="col" class="p-[2rem]">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let terminal of data"
                    class="border-separate border-0 bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

                    <td class="p-[2rem]  ">
                        {{terminal.invoiceNumber}}
                    </td>
                    <td class="p-[2rem]">
                        {{terminal.customerName}}
                    </td>
                    <td class="p-[2rem]">
                        {{terminal.date}}
                    </td>
                    <td class="p-[2rem]">
                        NGN{{terminal.amount}}
                    </td>
                    <td class="p-[2rem]">
                        {{terminal.email}}
                    </td>
                    <td class="p-[2rem]">
                        {{terminal.productId}}
                    </td>

                    <td class="p-[1rem]">

                        <div *ngIf="terminal.status === 'created' "
                            class="bg-[#EAECFF] p-[1rem] py-[0.5rem] flex items-center justify-center w-[120px] gap-[1rem] rounded-[4px]">
                            <div>
                                <img src="/assets/images/create.png" alt="">
                            </div>
                            <span class="text-[#3D42AD]">Created</span>
                        </div>

                        <div *ngIf="terminal.status === 'pending' "
                            class="bg-[#fee0b5] p-[1rem] py-[0.5rem] flex items-center justify-center w-[120px] gap-[1rem] rounded-[4px]">
                            <div>
                                <img src="/assets/images/pending.png" alt="">
                            </div>
                            <span class="text-[#B5850B]">Pending</span>
                        </div>

                        <div *ngIf="terminal.status === 'approve' "
                            class="bg-[#EDFFEA] p-[1rem] py-[0.5rem] flex items-center justify-center w-[120px] gap-[1rem] rounded-[4px]">
                            <div>
                                <img src="/assets/images/success.png" alt="">
                            </div>
                            <span class="text-[#165E3D]">Approve</span>
                        </div>

                        <div *ngIf="terminal.status === 'decline' "
                            class="bg-[#FFEAEA] p-[1rem] py-[0.5rem] flex items-center justify-center w-[120px] gap-[1rem] rounded-[4px]">
                            <div>
                                <img src="/assets/images/declined.png" alt="">
                            </div>
                            <span class="text-[#B83131]">Decline</span>
                        </div>
                    </td>
                    <td class="p-[2rem]">
                    </td>
                </tr>

            </tbody>
        </table>
        <div class="mt-[4rem] bg-[#fff] flex justify-between p-[1rem] px-[2rem]">
            <div>
                <span> {{size}} Result</span>
            </div>
            <div class="flex justify-end gap-[2rem] md:mr-[20rem]">
                <div (click)="pageIncrement()" class="p-[1rem] py-[0.5rem] border rounded-[4px]">
                    Previous
                </div>
                <div (click)="pageDecrement()" class="p-[1rem] py-[0.5rem] border rounded-[4px]">
                    Next
                </div>
            </div>
        </div>
    </div>
</div> -->




<div class="p-[30px] grid gap-[4rem]">

    <div class="grid md:grid-cols-2 gap-[7rem] font-[NUNITO] w-[70%]">

        <!-- card 1 starts here  -->
        <div class="grid gap-[2rem]">
            <div class="text-[24px] text-[grey]">
                Total Balance
            </div>
            <div class="bg-[#fff] rounded-[10px] p-[4rem] grid gap-[1rem]">

                <div class="border-b-[1px] border-grey border-b py-[0rem] flex justify-between">
                    <p class="font-[900] text-[24px]">$240,399</p>
                    <p>All Accounts</p>
                </div>

                <div class="bg-[#299D91] rounded-[10px] p-[2rem]">
                    <div class="flex justify-between items-center">
                        <div class="text-[#F2F2F2] text-[18px] font-[200]">Account type</div>
                        <div>
                            <img src="/assets/images/Mastercard (1).png" class="" alt="">
                        </div>
                    </div>

                    <div class="">
                        <h1 class="text-[#FFF] text-[14px] font-[800]">Credit Card</h1>
                    </div>

                    <div class="flex justify-between items-center">
                        <p class="text-[#F2F2F2] text-[16px] font-[200]">
                            **** **** **** 2598
                        </p>
                        <div class="flex gap-[2rem]">
                            <div class="text-[#F2F2F2] text-[18px] font-[200]">$25000</div>
                            <img src="/assets/images/arrow-right-up.png" class="" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- card 1 ends here  -->
        <!-- card 2 starts here  -->


        <div class="grid gap-[2rem]">
            <div class="text-[24px] text-[grey]">
                Transactions
            </div>
            <div class="bg-[#fff] rounded-[10px] p-[4rem] grid gap-[1rem]">

                <div class="py-[0rem] border-b flex justify-between">
                    <div class="flex items-center gap-[1rem]">
                        <p class="font-[900] text-[24px]">$200,000</p>
                        <div class="flex items-center mb-[1rem] cursor-pointer">
                            <img src="/assets/icons/ink.png" alt="">
                        </div>

                    </div>
                    <p>May, 2023</p>
                </div>

                <div class="flex justify-between">

                    <div class="grid gap-[2rem]">
                        <div class="">
                            <div class="flex items-center gap-[1rem]">
                                <div>
                                    <img src="/assets/icons/Vector.png" alt="">
                                </div>
                                <p class="text-[#878787] text-[14px]">Target Achieved</p>
                            </div>
                            <div class="flex items-center gap-[1rem]">
                                <span>
                                </span>
                                <div class="text-[20px] font-[700]">$12,500</div>
                            </div>

                        </div>
                        <div class="">
                            <div class="flex items-center gap-[1rem]">
                                <div>
                                    <img src="/assets/icons/goal.png" alt="">
                                </div>
                                <p class="text-[#878787] text-[14px]">Target Achieved</p>
                            </div>
                            <div class="flex items-center gap-[1rem]">
                                <span>
                                </span>
                                <div class="text-[20px] font-[700] mr-[-1rem]">$12,500</div>
                            </div>
                        </div>
                    </div>
                    <div class="gap-[1rem]">
                        <div>
                            <img src="/assets/images/Graph (1).png" alt="">
                        </div>
                        <div class="text-[16px]">Target vs Achievement</div>
                    </div>

                </div>
            </div>
        </div>
        <!-- card 1 ends here  -->
 
    </div>



    <div class="transaction_card grid gap-[2rem] md:grid-cols-3  rounded-[10px] ">

        <div class="col-span-1 p-[2rem] bg-[#fff] rounded-[15px]">
            <div class="flex justify-between mb-[30px]">
                <div class="deposit">
                    <p>Deposit</p>
                </div>
                <div class="">
                    <p class="text-[#9155FD]">View All</p>
                </div>
            </div>

            <div class="my-[1rem]" *ngFor="let deposit of deposits">
                <div class="flex items-center justify-between">
                    <div class="flex items-center gap-[2rem]">
                        <div class="">
                            <img src="/assets/images/calc.png" class="h-[40px]" />
                        </div>
                        <div class="leading-[5px]">
                            <div class="text-[12px]">
                                <h3>{{deposit?.location}}</h3>
                            </div>
                            <div class="text-[grey] text-[12px]">
                                <p>{{deposit?.operatorName}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="justify-end">
                        <p [ngClass]="{'red': deposit.amount < 0, 'green': deposit.amount >= 0 }">NGN{{ deposit?.amount
                            }}</p>
                    </div>
                </div>
            </div>

        </div>


        <ngx-charts-bar-vertical-2d [view]="[width, height]" [customColors]="customColors" [results]="multi"
            [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel">
        </ngx-charts-bar-vertical-2d>

    </div>

</div>