<div class="m-auto w-[80%]">
    <div class="flex justify-center py-[4rem]">
        <div class="bg-[#7B57FC] w-[50%] h-[50vh] flex justify-end rounded-[3rem]">

            <!-- <div class="absolute bg-[red] md:w-[60%] right-[0]"> -->
                <img src="assets/images/MacBook.png" class="right-[-40] ml-[400px]" alt="">
            <!-- </div> -->

        </div>
    </div>

    <div class="grid gap-[10rem] md:w-[100%] text-left">
        <div class="text-[1.5rem] leading-[3rem] md:leading-[4rem] md:text-[2.5rem] text-[#16205F]">
            NFC Tap for Payments: <br>
            Storm SDK enables users with NFC-enabled devices to initiate quick and secure payments by simply
            tapping on a POS terminal. The integration of the storm library ensures that transactions are
            processed efficiently and securely through the STORM network, providing a seamless payment
            experience for customers.
        </div>
    </div>

</div>


<div class="quote">
    <div class="grid md:grid-cols-2 items-center">
        <div class="md:relative top-0">
            <div class="grid gap-[10rem] p-[5rem] md:absolute top-[-500px] md:w-[80%] text-left">
                <div class="text-[1.5rem] leading-[3rem] md:leading-[4rem] md:text-[2.5rem]">
                    NFC Tap for Payments: <br>
                    Storm SDK enables users with NFC-enabled devices to initiate quick and secure payments by simply
                    tapping on a POS terminal. The integration of the storm library ensures that transactions are
                    processed efficiently and securely through the STORM network, providing a seamless payment
                    experience for customers.
                </div>
                <div class="text-[1.5rem] leading-[3rem] md:leading-[4rem] md:text-[2.5rem]">
                    Notification Service:
                    The storm SDK offers a robust real-time notification service, empowering providers to send timely
                    data
                    and notifications to their customer's devices. Additionally, the SDK facilities seamless
                    communication between customers, ensuring that notifications are delivered promptly and efficiently
                    to the intended recipients.
                </div>
            </div>
        </div>

        <div>
            <img src="assets/images/responsive.png" alt="">

        </div>
    </div>
</div>


<div class="quote2">

    <div class="grid md:grid-cols-2 items-center">
        <div class="md:relative top-0">
            <div class="grid gap-[10rem] p-[5rem] md:absolute top-[-500px] md:w-[80%] text-left">
                <div class="text-[1.5rem] leading-[3rem] md:leading-[4rem] md:text-[2.5rem]">
                    NFC Tap for Payments: <br>
                    Storm SDK enables users with NFC-enabled devices to initiate quick and secure payments by simply
                    tapping on a POS terminal. The integration of the storm library ensures that transactions are
                    processed efficiently and securely through the STORM network, providing a seamless payment
                    experience for customers.
                </div>
                <div class="text-[1.5rem] leading-[3rem] md:leading-[4rem] md:text-[2.5rem]">
                    Notification Service:
                    The storm SDK offers a robust real-time notification service, empowering providers to send timely
                    data
                    and notifications to their customer's devices. Additionally, the SDK facilities seamless
                    communication between customers, ensuring that notifications are delivered promptly and efficiently
                    to the intended recipients.
                </div>
            </div>
        </div>

        <div>
            <img src="assets/images/sales-man.png" alt="">

        </div>
    </div>
</div>