<div>

            <div class="grid items-center grid-cols-1 w-[80%] m-auto gap-[4rem] md:py-[3rem] pt-[5rem] text-[#16205F]">
                <div class="font-[NUNITO] font-[700] md:text-center md:text-[25px] leading-[2rem] md:leading-[4rem]">
            Unlock the potential of these innovative solutions and explore how they can work in harmony
            to elevate your business to new heights. Whether you're a business owner looking to
            streamline payments or a customer seeking rewards and convenience, Trevauty's NFC
            card payment and loyalty card solutions have something exceptional to offer you.
        </div>
        <p class="bg-[#7535FD] text-[white] text-[1.5rem] md:text-[3rem] px-[3rem] md:px-[
        10rem] cursor-pointer rounded-[1rem] w-fit m-auto md:py-[3rem] py-[1rem]">Get Started Now</p>
    </div>

    <div class="md:w-[100%] flex justify-end mb-[10rem] mt-[-3rem] md:mt-[-20rem]">
        <img src="/assets/images/card.png" class="md:h-[100vh]" alt="">
    </div>




    <div class="h-fit">
        <div class="grid grid-cols-1 items-center md:grid-cols-2 gap-[4rem] w-[80%] m-auto">
            <div class="flex flex-col gap-[2rem]">
                <div
                    class="font-bold md:w-[90%] font-[NUNITO] text-[1rem] md:text-[1.8rem] text-[#16205F] leading-[2rem] md:leading-[3rem]">
                    NFC Card Payment, abbreviated for Near Field Communication Card Payment, is a cutting-edge
                    payment method that has redefined the way transactions take place. At its core, NFC
                    technology enables swift and secure contactless payments using NFC-enabled cards or mobile devices.
                </div>


                <div class="md:w-[80%] font-[NUNITO-LIGHT] text-[#16205F] leading-[3rem] text-[2rem]">
                    Here's what makes Trevauty NFC payment stand out:
                </div>
                <ul class="grid gap-[2rem] md:ml-[3rem] ">
                    <li *ngFor="let item of section3" class="flex gap-[1rem] leading-[3rem]">
                        <img src={{item.image}} class="h-[1rem] mt-[0.5rem]" alt="">
                        <span class="text-[#16205F] font-[200] font-[NUNITO-LIGHT] leading-[2rem]">{{item.label}}</span>
                    </li>
                </ul>

            </div>
            <div class="desktop">
                <img src="/assets/images/pos-images.png" class="w-[100%]" alt="">
            </div>
        </div>
    </div>



    <div class="grid md:grid-cols-2 m-auto md:w-[80%] gap-[2rem] p-[4rem]">
        <div
            class="bg-[#193876] text-[white] md:p-[5rem] p-[2rem] font-[NUNITO-LIGHT] md:text-[1.8rem] text-[1rem] md:leading-[3rem] rounded-[1rem]">
            Faster Transactions: Speed is of the essence in the world of business. Trevauty NFC
            payments are lightning-fast, significantly reducing checkout times. This efficiency not
            only pleases customers but also allows you to serve more customers during peak hours
        </div>

        <div
            class="bg-[#193876] text-[white] md:p-[5rem] p-[2rem] font-[NUNITO-LIGHT] md:text-[1.8rem] text-[1rem] md:leading-[3rem] rounded-[1rem]">
            Increased Sales: The convenience of NFC payments encourages impulse purchases and higher
            spending. Customers are more likely to indulge in extra items when they can make
            payments swiftly and without friction.
        </div>
    </div>



    <div>
        <div class="h-fit">
            <div class="grid grid-cols-1 items-center md:grid-cols-2 gap-[4rem] w-[80%] m-auto">
                <div class="desktop">
                    <img src="/assets/images/payment-store.png" class="w-[100%]" alt="">
                </div>
                <div class="flex flex-col gap-[2rem]">
                    <div
                        class="font-bold md:w-[90%] font-[NUNITO] text-[1rem] md:text-[2rem] leading-[2rem] md:leading-[3rem]">
                        Seamless Synergy: NFC Card Payments and Loyalty Card Programs
                    </div>


                    <div class="md:w-[80%] font-[NUNITO-LIGHT] leading-[3rem] text-[2rem]">
                        At Trevauty, we believe in the power of synergy. That's why we've seamlessly integrated NFC
                        Card Payments with Loyalty Card Programs, creating a partnership that elevates
                        the customer experience and drives business success.
                    </div>
                    <div class="md:w-[80%] font-[NUNITO-LIGHT] leading-[3rem] text-[2rem]">
                        Did you know that our NFC Card Payments and Loyalty Card Programs work
                        hand-in-hand to create a win-win situation for businesses and customers?
                    </div>
                    <ul class="grid gap-[1rem] md:ml-[0rem]">
                        <li *ngFor="let item of section3" class="flex gap-[1rem] leading-[3rem]">
                            <img src={{item.image}} class="h-[1rem] mt-[1rem]" alt="">
                            <div>
                                <h3>{{item.header}}</h3>
                                <span class="">{{item.label}}</span>
                            </div>

                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>


    <div>
        <div class="h-fit">
            <div class="grid grid-cols-1 items-center md:grid-cols-2 gap-[4rem] w-[80%] m-auto">
                <div class="flex flex-col gap-[2rem]">
                    <div
                        class="font-bold md:w-[90%] font-[NUNITO] text-[1rem] md:text-[2rem] leading-[2rem] md:leading-[3rem]">
                        How Loyalty Card Programs Work:
                    </div>
                    <div class="md:w-[80%] font-[NUNITO-LIGHT] leading-[3rem] text-[2rem]">
                        Trevauty Loyalty Card Programs are designed to reward customers for their loyalty and encourage 
                        repeat business. Here's how they typically function:
                    </div>
                    <ul class="grid gap-[1rem]">
                        <li *ngFor="let item of section4" class="flex gap-[1rem] leading-[3rem]">
                            <img src={{item.image}} class="h-[1rem] mt-[1rem]" alt="">
                            <div>
                                <h3>{{item.header}}</h3>
                                <span class="">{{item.label}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="desktop flex justify-end">
                    <img src="/assets/images/atm.png" class="w-[80%]" alt="">
                </div>
            </div>
        </div>
    </div>


    <div class="grid md:grid-cols-3 gap-[4rem] items-center w-[80%] m-auto">
        <div class="desktop col-span-1">
            <img src="/assets/images/sales-man.png" class="w-[100%]" alt="">
        </div>

        <div class="col-span-2 font-[NUNITO-LIGHT] font-[700] md:text-[25px] leading-[2rem] md:leading-[4rem]">
            At Trevauty, we're here to assist you every step of the way on your journey to seamless NFC Card Payments and 
            Loyalty Card Programs. If you have any questions, require additional information, or are ready to explore how 
            our solutions can transform your business, we're just a message or call away.
        </div>
    </div>



</div>