<div>

    <div class="grid items-center grid-cols-1 w-[95%] md:w-[60%] m-auto gap-[4rem] py-[3rem]">
        <div class="font-[NUNITO] text-[#16205F] text-center md:text-[25px] leading-[3rem] md:leading-[4rem]">
            Our Inventory Management System (IMS) is designed to empower 
            vendors with efficient and precise inventory control. In this 
            dedicated space, we'll delve into the remarkable features and 
            advantages of our IMS, specifically tailored to meet the needs 
            of vendors like you.
        </div>
        <p class="bg-[#7535FD] text-[white] text-[1.5rem] md:text-[3rem] px-[3rem] md:px-[10rem] cursor-pointer cursor-pointer w-fit m-auto my-[4rem] md:py-[3rem] py-[4rem]">Get Started Now</p>
    </div>

    <div class="py-[2rem] w-full ">
        <img src="/assets/images/desktop.png" alt="">
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 md:w-[80%] w-[95%] m-auto md:gap-[2rem] md:py-[3rem] py-[2rem]">
        <div class="grid gap-[2rem]">
            <div class="font-[900] font-[NUNITO]">
                Why Choose Trevauty's IMS (Inventory Management System) for Vendors?
            </div>
            <p class="font-[NUNITO-LIGHT] font-[500] md:text-[1.6rem] text-[1rem] md:leading-[3rem]">
                At Trevauty, we recognize that vendors play a critical role in the
                supply chain, and effective inventory management is key to your 
                success. Our IMS is meticulously crafted to cater to the unique 
                requirements of vendors, offering a range of benefits that will 
                redefine the way you handle your inventory:
            </p>

        </div>
        <div class="grid gap-[1rem] p-[2rem]">
            <a href="" class="block flex justify-end"><img src="/assets/icons/arrow-right.png" alt="arrow-right"></a>
            <div class="bg-[#193876] text-[white] md:p-[5rem] p-[2rem] gap-[2rem] grid">
                <div class="font-[NUNITO] md:text-[2.5rem] text-[2rem] font-[400]">
                    Real-Time Inventory Insights
                </div>
                <div class="font-[NUNITO-LIGHT] md:text-[1.8rem] pb-[3rem] text-[1rem] md:leading-[3rem]">
                    For vendors using Trevauty POS, our IMS provides real-time 
                    visibility into your inventory levels. Instantly track product 
                    availability, ensuring you can serve your customers with confidence
                </div>

            </div>

        </div>
    </div>



    <div class="bg-[#ABCAFF] my-[3rem]">
        <div class="grid md:gap-[5rem] gap-[3rem] md:w-[80%] m-auto md:py-[6rem] py-[2rem] px-[1rem]">
            <div class="text-center font-[NUNITO] md:text-[2.5rem] text-[1.5rem]">Ready to Elevate Your Operation</div>
            <div class="text-center w-[85%] font-[NUNITO-LIGHT] m-auto text-[1rem] md:text-[2.5rem] font-[500] md:leading-[4rem] leading-[2rem]">Trevauty's Inventory Management System is your trusted partner in optimizing 
                your inventory, reducing costs, and ensuring that you meet customer demands 
                efficiently. Let's work together to unlock the full potential of your vendor 
                business.
            </div>
            <p class="text-center cursor-pointer text-[1.5rem] md:text-[3rem] text-[white] bg-[#7535FD] w-fit m-auto md:py-[2rem] py-[1rem] md:px-[5rem] px-[2rem] rounded-[2px]">
                Get Started Now
            </p>
        </div>

    </div>

    <div>

        <div class="md:pt-[12rem] pt-[6rem] p-[4rem] md:text-[3rem] text-[2rem] font-[NUNITO-EXTRA-BOLD]">
            Coming Soon....
        </div>
    </div>


    <div>
        <div class="grid grid-cols-1 md:grid-cols-2 bg-[#8E5FF3] p-[3rem] gap-[2rem]">
            <div class="flex justify-center items-center">
                <p class="font-[NUNITO] text-[3rem] md:text-[5rem] text-[white]">
                    Review Platform
                </p>
            </div>
            <div>
                <img src="/assets/images/girl-working.png" alt="">
            </div>
        </div>
    </div>
</div>
