<div class="md:w-[50%] w-[100%] bg-[#F2F2F2] p-[3rem] mt-[3rem] rounded-[29px] grid gap-[1rem]">
    <h1 class="leading-[25px] text-[18px]">Profile</h1>
    <p class="text-[13px] leading-[18px]">This information will be displayed publicly so be careful what you share.</p>

    <form [formGroup]="userProfileDetails" (ngSubmit)="onSubmit(userProfileDetails.value)" action="" class="w-[100%] grid gap-[2rem]">
        <div class="grid md:grid-cols-2 grid-cols-1 gap-[2rem] w-[100%]">
            <div class="w-full" [ngClass]="{'has-error': !formData['firstName'].valid && formData['firstName'].touched}">
                <div>
                    <label for="">First name</label>
            
                </div>
                <div class="border-none " *ngIf="formData['firstName'].touched && formData['firstName'].errors">
                    <div class="shadow-none border-none  text-danger"
                        *ngIf="formData['firstName'].errors['required']">
                        First Name is required
                    </div>
                    <div class="shadow-none text-danger" *ngIf="formData['firstName'].errors['pattern']">
                
                        First Name is not valid
                    </div>
                </div>
                <input class="bg-[#FFFFFF] w-[100%] p-3 rounded-[6px]" type="text" name="firstName" formControlName="firstName">
            </div>
            <div class="w-full" [ngClass]="{'has-error': !formData['lastName'].valid && formData['lastName'].touched}">
                <div>
                    <label for="">Last name</label>
            
                </div>
                <div class="border-none " *ngIf="formData['lastName'].touched && formData['lastName'].errors">
                    <div class="shadow-none border-none  text-danger"
                        *ngIf="formData['lastName'].errors['required']">
                        Last Name is required
                    </div>
                    <div class="shadow-none text-danger" *ngIf="formData['lastName'].errors['pattern']">
                
                        Last Name is not valid
                    </div>
                </div>
                <input class="bg-[#FFFFFF] w-[100%] p-3 rounded-[6px]" type="text" name="lastName" formControlName="lastName">
            </div>
        </div>

        <div class="grid md:grid-cols-2 grid-cols-1 gap-[2rem] w-[100%]">
            <div class="w-full" [ngClass]="{'has-error': !formData['email'].valid && formData['email'].touched}">
                <div>
                    <label for="">Email</label>
            
                </div>
                <div class="border-none " *ngIf="formData['email'].touched && formData['email'].errors">
                    <div class="shadow-none border-none  text-danger"
                        *ngIf="formData['email'].errors['required']">
                        Email is required
                    </div>
                    <div class="shadow-none text-danger" *ngIf="formData['email'].errors['pattern']">
                
                        Email is not valid
                    </div>
                </div>
                <input class="bg-[#FFFFFF] w-[100%] p-3 rounded-[6px]" type="text" name="email" formControlName="email">
            </div>

        </div>

        <div class="grid grid-cols-1 gap-[2rem] w-[100%]">
            <div class="w-full" [ngClass]="{'has-error': !formData['about'].valid && formData['about'].touched}">
                <div>
                    <label for="">About</label>
            
                </div>
                <div class="border-none " *ngIf="formData['about'].touched && formData['about'].errors">
                    <div class="shadow-none border-none  text-danger"
                        *ngIf="formData['about'].errors['required']">
                        About is required
                    </div>
                    <div class="shadow-none text-danger" *ngIf="formData['about'].errors['pattern']">
                
                        About is not valid
                    </div>
                </div>
                <textarea class="bg-[#FFFFFF] w-[100%] p-3 rounded-[6px] outline-none" cols="30" rows="5" type="text" name="about" formControlName="about"></textarea>
            </div>
        </div>
        <hr>
        <div class="flex justify-end gap-[1rem]">
            <!-- <button class="bg-[#fff] rounded-[6px] px-[1rem] py-[0.5rem]">Cancel</button> -->
            <button type="submit" class="bg-[#7B57FC] text-[#fff] rounded-[6px] px-[1rem] py-[0.5rem]">Save</button>
        </div>
    </form>
</div>