<div class="w-[50%] bg-[#F2F2F2] p-[3rem] mt-[3rem] rounded-[29px] grid gap-[1rem]">
    <h1 class="leading-[25px] text-[18px]">Profile</h1>
    <p class="text-[13px] leading-[18px]">This information will be displayed publicly so be careful what you share.</p>

    <form action="" class="w-[100%] grid gap-[2rem]">
        <div class="grid grid-cols-2 gap-[2rem] w-[100%]">
            <div class="w-[100%]">
                <div>
                    <label for="">First name</label>

                </div>
                <input class="bg-[#FFFFFF] w-[100%] p-3 rounded-[6px]" type="text">
            </div>
            <div>
                <div>
                    <label for="">Last name</label>

                </div>
                <input class="bg-[#FFFFFF] w-[100%] p-3 rounded-[6px]" type="text">

            </div>
        </div>

        <div class="grid grid-cols-2 gap-[2rem] w-[100%]">
            <div class="w-[100%]">
                <div>
                    <label for="">Email</label>

                </div>
                <input class="bg-[#FFFFFF] w-[100%] p-3 rounded-[6px]" type="text">
            </div>

        </div>

        <div class="grid grid-cols-1 gap-[2rem] w-[100%]">
            <div class="w-[100%]">
                <div>
                    <label for="">About</label>

                </div>
                <textarea class="w-[100%] rounded-[6px]" name="" id="" cols="30" rows="5"></textarea>
            </div>
        </div>
        <hr>
        <div class="flex justify-end gap-[1rem]">
            <button class="bg-[#fff] rounded-[6px] px-[1rem] py-[0.5rem]">Cancel</button>
            <button class="bg-[#7B57FC] text-[#fff] rounded-[6px] px-[1rem] py-[0.5rem]">Save</button>
        </div>
    </form>
</div>