/* You can add global styles to this file, and also import other style files */


@tailwind base;
@tailwind components;
@tailwind utilities;


@import '~primeicons/primeicons.css';
// @import '~primeng/resources/themes/nova-light/theme.css';
@import '~primeng/resources/primeng.min.css';
// @import '../node_modules/primeng/resources/themes/omega/theme.css';



@font-face {
    font-family: 'DM Sans';
    src: url('/assets/fonts/DM_Sans/DMSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NUNITO';
    src: url('/assets/fonts/nunito/Nunito-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NUNITO-EXTRA-BOLD';
    src: url('/assets/fonts/nunito/Nunito-ExtraBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'POPPINS-LIGHT';
    src: url('/assets/fonts/poppins/Poppins-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NUNITO-LIGHT';
    src: url('/assets/fonts/nunito/Nunito-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
  
@font-face {
    font-family: 'DM Sans';
    src: url('/assets/fonts/DM_Sans/DMSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // overflow-x: hidden;
    font-family: 'DM Sans';
}

input{
    outline-width: 0;
}
// input[type="text"], input[type="password"] {
//     background-color: transparent; /* Set the background color to transparent */
// }

// input{
// background-color: transparent; /* Set the background color to transparent */

// }

::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  body {
    scrollbar-width: none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active{
      -webkit-box-shadow: 0 0 0 30px white inset !important;
  }