
<div class="bg-gray-100">
    <div class="overflow-x-auto">
      <div class="grid grid-cols-8 w-full text-[14px] leading-[150%] text-[#4B5563]">
        <!-- Skeleton Header Rows -->
        <div class="col-span-1 p-[2rem] bg-[#ede9fd] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        <div class="col-span-1 p-[2rem] bg-[#ede9fd] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        <div class="col-span-1 p-[2rem] bg-[#ede9fd] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        <div class="col-span-1 p-[2rem] bg-[#ede9fd] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        <div class="col-span-1 p-[2rem] bg-[#ede9fd] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        <div class="col-span-1 p-[2rem] bg-[#ede9fd] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        <div class="col-span-1 p-[2rem] bg-[#ede9fd] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        
        <div class="col-span-1 p-[2rem] bg-[#ede9fd] border-b">
          <div class="bg-gray-300 p-[1rem] py-[0.5rem] flex items-center justify-center w-[120px] gap-[1rem] rounded-[4px] skeleton"></div>
        </div>
        <!-- Add more skeleton rows as needed -->

        <div class="col-span-1 p-[2rem] bg-[#fff] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        <div class="col-span-1 p-[2rem] bg-[#fff] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        <div class="col-span-1 p-[2rem] bg-[#fff] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        <div class="col-span-1 p-[2rem] bg-[#fff] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        <div class="col-span-1 p-[2rem] bg-[#fff] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        <div class="col-span-1 p-[2rem] bg-[#fff] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        <div class="col-span-1 p-[2rem] bg-[#fff] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        <div class="col-span-1 p-[2rem] bg-[#fff] border-b">
          <div class="bg-gray-300 p-[1rem] py-[0.5rem] flex items-center justify-center w-[120px] gap-[1rem] rounded-[4px] skeleton"></div>
        </div>

        <div class="col-span-1 p-[2rem] bg-[#fff] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        <div class="col-span-1 p-[2rem] bg-[#fff] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        <div class="col-span-1 p-[2rem] bg-[#fff] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        <div class="col-span-1 p-[2rem] bg-[#fff] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        <div class="col-span-1 p-[2rem] bg-[#fff] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        <div class="col-span-1 p-[2rem] bg-[#fff] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        <div class="col-span-1 p-[2rem] bg-[#fff] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        <div class="col-span-1 p-[2rem] bg-[#fff] border-b">
          <div class="bg-gray-300 p-[1rem] py-[0.5rem] flex items-center justify-center w-[120px] gap-[1rem] rounded-[4px] skeleton"></div>
        </div>

        <div class="col-span-1 p-[2rem] bg-[#fff] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        <div class="col-span-1 p-[2rem] bg-[#fff] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        <div class="col-span-1 p-[2rem] bg-[#fff] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        <div class="col-span-1 p-[2rem] bg-[#fff] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        <div class="col-span-1 p-[2rem] bg-[#fff] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        <div class="col-span-1 p-[2rem] bg-[#fff] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        <div class="col-span-1 p-[2rem] bg-[#fff] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        <div class="col-span-1 p-[2rem] bg-[#fff] border-b">
          <div class="bg-gray-300 p-[1rem] py-[0.5rem] flex items-center justify-center w-[120px] gap-[1rem] rounded-[4px] skeleton"></div>
        </div>


        <div class="col-span-1 p-[2rem] bg-[#fff] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        <div class="col-span-1 p-[2rem] bg-[#fff] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        <div class="col-span-1 p-[2rem] bg-[#fff] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        <div class="col-span-1 p-[2rem] bg-[#fff] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        <div class="col-span-1 p-[2rem] bg-[#fff] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        <div class="col-span-1 p-[2rem] bg-[#fff] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        <div class="col-span-1 p-[2rem] bg-[#fff] border-b">
          <div class="h-4 bg-gray-300 rounded skeleton w-3/4"></div>
        </div>
        <div class="col-span-1 p-[2rem] bg-[#fff] border-b">
          <div class="bg-gray-300 p-[1rem] py-[0.5rem] flex items-center justify-center w-[120px] gap-[1rem] rounded-[4px] skeleton"></div>
        </div>

        
      </div>
    </div>
  </div>
  